[2018-02-14 11:06] skyline9002 opened #107 "I am wondering whether I can save some data into BotDataStorage before user send the first message to bot"
### SDK Platform
.Net BotBuilder 3.12.24

### URL of Code Sample
No

### Problem Description
I am wondering whether I can save some data into BotDataStorage before user send the initial message to bot.

what I have done and know:

1. Enable the default BlobTable implementation to manage state data.

2. Bot send proactive message to user and save some user-specific data by using StateClient.
    At

[2018-04-10 08:33] pepefrog69 opened #70 "IMPLEMENTING LUIS WITH OPTIONS"
Im using Azure to develop my bot. Im trying to create a bot using LUIS where if i ask it for a scan, it should give me back four types of analysis for a scan for eg: metrology, porosity, reverse engineering and wall thickness. Then i can choose an option form it.I feel like this is a very easy thing to do but im very new to computer programming, node.js. and bots.

This is how far ive gotten, i do

[2018-10-02 17:50] tomlm opened #2 "I can't figure out how to file an issue"
_From @tomlm on October 2, 2018 17:50_

fooofoofoo

_Copied from original issue: Microsoft/BotBuilder#5090_

[2018-10-02 17:50] #2 closed

[2018-10-08 01:56] ovishesh opened #3 "Repo's root Readme needs to be updated and get rid of v4 mentioned as "preview""
I noticed the root readme refers to v4 being in preview, whereas v4 is now available for production bots, so should that be removed? Just in case someone stumbles across this v3 SDK and documentation.

Readme - https://github.com/Microsoft/botbuilder-v3#get-started-with-bot-builder-v4-preview

[2018-10-08 15:20] thschuetze opened #4 "MicrosoftAppCredentials returns expired token"
Not sure if this is a known issue since the v3 issues disappeared when the repo was moved...

## Version
latest v3 (reproduced it in 3.15.3 and 3.16.1) and latest v4 (reproduced in 4.0.7)

## Describe the bug
Our bots fail to respond to the first message every morning. What we see in AppInsights is that the botframework token endpoint is successfully called, but the call to the conversations endpo

[2018-10-08 15:42] clari182 opened #5 ""Operation returned an invalid status code MethodNotAllowed" When deployed on azure"
## Version
V3.16.1.38846

## Describe the bug
I created a bot (MicrosoftAppId: b83eb276-df6d-4ce1-a326-3b69aec65bdb) and deployed it on azure.
The deploy works but I get the message: "**Sorry, my bot code is having an issue**" Whenever I write to the bot.
The error is: **Operation returned an invalid status code MethodNotAllowed**

Few things to keep in mind:

1. The bot works perfectly on localho

[2018-10-08 18:13] JasonSowers commented on #4
This was a known issue I had thought we fixed.  I guess we didn't we will look into a fix for this.  Thanks for reporting!

[2018-10-08 18:56] clari182 commented on #5
Hi!

I tried both options and still getting the same:
"Sorry, my bot code is having an issue"
"Operation returned an invalid status code MethodNotAllowed"

[2018-10-08 19:04] EricDahlvang commented on #5
Are you calling the deprecated activity.GetStateClient() method anywhere in the code?  New bots are not allowed to use the default state service retrieved from GetStateClient().  The reason the bot works against the emulator is that the emulator has a built in state service.

Something you can do to obtain more information is run the bot locally, use ngrok to proxy messages to your local machine,

[2018-10-09 07:03] thschuetze commented on #4
We need a fix for this on v3 though. I hope it will be moved down when it's ready?

[2018-10-10 17:49] JasonSowers commented on #4
Yes we will look into addressing the issue in both versions of the SDK

[2018-10-10 17:49] #4 closed

[2018-10-11 09:59] boychyk opened #6 "[Skype] Botframework publishing review ping test failed"
## Version
* SDK: .Net Core 2.1
* Deployment Environment: Azure Bot Service
* Microsoft.Bot.Connector Version: 3.15.3

## Issue description
I'am trying to publish my bot. During test ping request I get InternalServerError. The connector client makes POST request on https://dev.botframework.com/v3/conversations/test/activities but instead of json it gets some html.
So app throws Newtonsoft.Json.Jso

[2018-10-12 14:35] veeresh1456 opened #7 "Microsoft.Bot.Connector.ErrorResponseException: Operation returned an invalid status code 'Unauthorized"
## Version
SDK Platform: .NET
Microsoft.Bot.Builder 3.16.1.38846
Microsoft.Bot.Connector 3.16.1.38846

## Describe the bug
Getting  'Microsoft.Bot.Connector.ErrorResponseException: Operation returned an invalid status code 'Unauthorized' exception while calling context.PostAsync() from today. our all production bots have this issue. yesterday bots are working fine. From today only we have this iss

[2018-10-12 16:20] #7 closed

[2018-10-12 16:21] veeresh1456 commented on #7
Our facebook bots page token are refreshed. after updating. now bots are working fine

[2018-10-15 07:41] neetgupta7 opened #11 "Implementing Silent AAD Authentication in Bots"
Hello
Can we implement something like below in bot framework.
https://github.com/MicrosoftDocs/msteams-docs/blob/master/msteams-platform/concepts/authentication/auth-silent-AAD.md

Currently the user has to launch a window to authenticate. But if above works then if user is alreeady connected to some Azure AD then it can pick up auth tokent automatically. Please let me know.

[2018-10-15 17:46] v-kydela commented on #11
Closing and directing traffic to StackOverflow: https://stackoverflow.com/questions/52811945/implementing-silent-aad-authentication-in-bots

[2018-10-15 17:46] #11 closed

[2018-10-17 05:47] Ma3yTa opened #29 "GetConversations BadRequest"
## Version
3.15.2.0

## Describe the bug
``GetConversations`` returns BadRequest

## To Reproduce
Steps to reproduce the behavior:
[code]

## Expected behavior
``GetConversations`` returns a list of conversations

[bug]
[dotnet]

[2018-10-17 21:36] jwiley84 commented on #29
Hi Ma3yTa! I'm looking into this for you!

[2018-10-18 16:44] jwiley84 commented on #29
Closing this and addressing in the Stack Overflow issue: [HERE](https://stackoverflow.com/questions/52847348/cant-get-conversations-by-calling-getconversations-in-botbuilder)

[2018-10-18 16:44] #29 closed

[2018-10-18 19:01] jwiley84 commented on #6
Investigating!

[2018-10-18 20:08] boychyk commented on #6
Hello @jwiley84! This is the method that makes a request:
`client.Conversations.SendToConversationAsync(processedConversation.ReplyActivity)`

Here's the `client` is ClientConnector and `ReplyActivity` is the result from activity.CreateReply().

[2018-10-18 20:36] sgellock opened #31 "Getting Dependency failures related to table storage in app insights while loading botstate"
_From @aniketk1264 on October 18, 2018 18:9_

### **Bot Info**

- SDK Platform: .NET
- SDK Version: Version=3.15.3.0
- Active Channels: WebChat
- Deployment Environment: Azure App Service

### **Issue Description**

We are using azure table storage for maintaining botstate. When user tries to login in our application and tries to initiate dialog with bot for 1st time, we only had userData in table

[2018-10-18 20:56] jwiley84 commented on #6
Alrighty. Can I get your BotID, please?

[2018-10-19 14:47] aniketk1264 commented on #31
Hello,
Can someone got a chance to look into the issue posted. It would be great if you could provide the solution for the same. Waiting for your reply.

Thank you,

Regards,
Aniket

[2018-10-19 17:51] alexandrenunes-cs opened #32 "Is it possible to send a message to a specific Skype Account using nodejs?"
Is it possible to send a message to a specific Skype Account using nodejs?

Example: I'm trying to send a message to a specific Skype account (Person 2) if my bot does not have the answer. Then, catch again the answer to resend to the first user (Person 1).

I'm using NodeJs v8.12, and BotBuilder v4
Thanks

[2018-10-19 19:16] jwiley84 commented on #32
Hi Alexandre! This is a how-to question, and the Bot Framework teams prefers that How-To questions are asked over on Stack Overflow. Additionally, I noticed that you've asked an identical question [there,](https://stackoverflow.com/questions/52878809/send-message-to-a-specific-skype-account) so I'm going to close this.

[2018-10-19 19:16] #32 closed

[2018-10-22 08:43] Ma3yTa commented on #29
@jwiley84 ``GetConversations`` and ``GetConversationsAsync`` return the same error ``BadRequest``

[2018-10-22 12:32] bora89 opened #33 "[Skype for Business] HTML message formatting inconsistencies (macOS vs Windows)"
SFB on windows:
![](https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/iktc55dKjTharg)

SFB on MacOS Mojave
![](https://getfile.dokpub.com/yandex/get/https://yadi.sk/i/hexIH5v91Fy1zA)

When this inconsistency will go away finally? I have latest SFB for MacOS btw

[2018-10-22 14:00] Ma3yTa opened #34 "[bug] [skype] [slack] GetConversationsAsync returns MethodNotAllowed"
## Version
``3.16.1.38846``

## Describe the bug
``GetConversationsAsync`` returns ``MethodNotAllowed``

## To Reproduce
[code]

## Expected behavior
``GetConversationsAsync`` returns a list of conversations

## Screenshots
![](https://i.gyazo.com/66033f5435f99e37391fcf97f704826d.png)

[bug]
[dotnet]

[2018-10-22 16:38] EricDahlvang commented on #5
Closing due to no activity.  Please open a new issue if you are still experiencing problems.

[2018-10-22 16:38] #5 closed

[2018-10-22 18:50] JasonSowers commented on #33
This is not an issue with bot framework.  This is a known issue with the SFB client on mac.  If you would like to provide feedback to the SFB team you can do so [here](https://www.skypefeedback.com/)

As a workaround you can apply the twilio workaround I outline in [this issue](https://github.com/Microsoft/BotBuilder/issues/4897#issuecomment-408559121)

[2018-10-22 18:50] #33 closed

[2018-10-25 15:57] developerlens opened #35 "Bot Framework Context.Wait does not wait for input"
I have three dialog that works as explained below

I have a Receipt Dialog, but when the dialog is called it first goes to Onboarding dialog to check if the user has onboarded if the user has to onboarded it start the onboarding process, and then calls an OTP Dialog to complete the transcation. But when it gets to the OTP Dialog it does not wait for the user to enter the generated token.

Below is

[2018-10-25 20:26] sgellock opened #36 "Operation returned an invalid status code 'Unauthorized'"
_From @LlewellynJones on October 25, 2018 17:53_

## Version
Microsoft.Bot.Builder               {3.15.3}
Microsoft.Bot.Connector             {3.15.3}

## Describe the bug
I am not experiencing any issues on my localhost without authentication, but after the app has been uploaded to Azure user's experience the "sorry my bot code is having an issue" error when starting the app. The error is logged

[2018-10-25 20:55] sgellock opened #37 "Bot takes > 10 seconds for the first response and At very First load bot gives error "Bot Code is having an issue""
_From @PrernaGupta1 on October 23, 2018 3:55_

Bot Info
•SDK Platform: .NET
•SDK Version: 3.8.1.0
•Active Channels: Direct Line
•Deployment Environment: Azure App Service deployed version

Issue Description

1. Bot takes > 10 seconds for the first response
2. At very First load bot gives error "Bot Code is having an issue" and to resolve the issue we need to start app service

Expected Behavior

R

[2018-10-25 20:55] sgellock commented on #37
_From @PrernaGupta1 on October 23, 2018 6:46_

Exception 1 :
Event time	10/22/2018, 4:33:37 PM
Message	POST to BotCR-7220-Dev failed: POST to the bot's endpoint failed with HTTP status 503 POST to the bot's endpoint failed with HTTP status 503
Exception type	System.Exception
Failed method	Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToBotAsync>d__31.MoveNext
Sample rate	1
Telemetry type	exce

[2018-10-25 21:52] benbrown opened #38 "Update dependency versions to clear npm audit warnings"
## Version
What package version of the SDK are you using.

3.15

## Describe the bug
Give a clear and concise description of what the bug is.

Versions of jsonwebtoken and base64url are out of date and cause "moderate" security warnings when running `npm audit`

## To Reproduce

Clone the repo
`npm i`
`npm audit`

You will see moderate warnings about these packages.

## Expected behavior

No warni

[2018-10-25 21:58] yochay opened #39 "Bot takes > 10 seconds for the first response and At very First load bot gives error "Bot Code is having an issue""
_From @PrernaGupta1 on October 23, 2018 3:55_

Bot Info
•SDK Platform: .NET
•SDK Version: 3.8.1.0
•Active Channels: Direct Line
•Deployment Environment: Azure App Service deployed version

Issue Description

1. Bot takes > 10 seconds for the first response
2. At very First load bot gives error "Bot Code is having an issue" and to resolve the issue we need to start app service

Expected Behavior

R

[2018-10-25 21:58] yochay commented on #39
_From @PrernaGupta1 on October 23, 2018 6:46_

Exception 1 :
Event time	10/22/2018, 4:33:37 PM
Message	POST to BotCR-7220-Dev failed: POST to the bot's endpoint failed with HTTP status 503 POST to the bot's endpoint failed with HTTP status 503
Exception type	System.Exception
Failed method	Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToBotAsync>d__31.MoveNext
Sample rate	1
Telemetry type	exce

[2018-10-25 21:58] yochay commented on #39
_From @sgellock on October 25, 2018 20:55_

This issue was moved to Microsoft/BotBuilder-V3#37

[2018-10-25 22:06] benbrown commented on #38
[This commit](https://github.com/Microsoft/BotBuilder-V3/commit/b817fda5a9b77e25a0bc4564c9e9ce8a6e6c99c4#diff-fe25e91c235642133cb0b3be80742da3) appears to resolve this issue, but it appears these changes didn't get published to npm.

[2018-10-25 22:07] benbrown commented on #38
Confirmed: 3.15 was published 6 months ago, but the package was updated only 3 months ago.

We should publish 3.16 with this package update.

[2018-10-26 16:14] bora89 opened #40 "Microsoft Teams channel: Malformed Video card - Invalid aspect value"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
**3.15.0**

## Describe the bug
Video Card and Animation Card are not shown in Microsoft Teams channel. In emu

[2018-10-26 22:33] dmvtech commented on #35
Hi Oghale! I notice that you've already opened this issue on [stack overflow](https://stackoverflow.com/questions/52975052/bot-framework-context-wait-does-not-wait-for-input)! The Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/issues

[2018-10-26 22:33] #35 closed

[2018-10-29 06:59] momark opened #41 "[Skype for Business] doesn't render buttons or HTML"
## System Information
SDK Version: 3.13.1

## Issue Description
No way to send HTML content to a Skype for business client. According to https://msdn.microsoft.com/en-us/skype/skype-for-business-bot-framework/docs/overview it should be possible.
The messages are always sent as plain text and not HTML.

## Example Code
builder.Prompts.choice(session, "What's your preferred language?", "English|Span

[2018-10-29 17:05] vovanb opened #42 "Failed to load resource: the server responded with a status of 502 (Bad Gateway)"
## Version
3.15.3
Web Chat
deployed to Canada Central resource

## Describe the bug
response is very slow
In webchat we got below error
Failed to load resource: the server responded with a status of 502 (Bad Gateway)
https://directline.botframework.com/v3/directline/conversations/JZkwqPEo6Ev703cWNzLdeB/activities

## To Reproduce
we created simple hello asp.net application
it is take 5-7 sec to po

[2018-10-30 12:14] bora89 commented on #40
@v-kydela can you shed some light on it, when it is going to be implemented?

[2018-10-30 18:33] yochay opened #44 "Bug: Multiple responses per request"
_From @rwmb on August 28, 2018 13:21_

Botbuilder is sending multiple responses from the same request. When we send a message to the handler, it first sends a 202 (accepted) and then tries to send the response that the user requested (the handled message). This breaks the HTTP standard and prevents me from using botbuilder with Google Cloud Functions, because the first response stops the execution

[2018-10-30 18:33] yochay commented on #44
_From @Stevenic on August 28, 2018 16:11_

which version of botbuilder are you using? Version 4 or version 3? And can you tell me whats the code you're seeing for the second response (or even better where in the code is it being generated.) This shouldn't be happening.

[2018-10-30 18:33] yochay commented on #44
_From @rwmb on August 28, 2018 16:20_

I'm using version 3.15.0
This is what happens when I try to make the requests the way botframework docs suggest.
After the 202 the function halts and the response to the user is never sent back.
![capturar](https://user-images.githubusercontent.com/20707521/44736122-4fa1bd80-aae6-11e8-9b5a-e5ad6db7adf8.PNG)

By overriding the response object to prevent the 20

[2018-10-30 18:33] yochay commented on #44
_From @rwmb on August 28, 2018 16:30_

@Stevenic regarding your other question, I don't see the second response, where the user gets his handled response, I assumed the 202 shouldn't be there since this is not necessary for the http request but apparently this is what microsoft chat clients (direct line, skype, etc) use to identify if the message was sent. Am I correct in this assumption?
If this

[2018-10-30 18:33] yochay commented on #44
_From @rwmb on August 31, 2018 12:12_

I was able to make this work with Cloud Functions by intercepting the 202, creating a PubSub message to proactively send a response to the user and then manually sending back the 202, but there's a considerable delay between the user request and the response. I'll keep working on this but it all behaves as expected now, apart from the delay of course. From wh

[2018-10-30 22:07] sgellock opened #45 "A new build of BotBuilder needs to be cut and pushed to NuGet"
## Version
3.16.1.xxxx has a bug introduced by the following commit
https://github.com/Microsoft/BotBuilder-V3/commit/3f6da33aff6cf89b160a438af3ae0ff68d7c3733#diff-1f91ba761477b26405ffa0278d8ace6d

This commit is being reverted, and as a result, we need to cut a new build
3.16.2.xxxx

[bug]
[dotnet]

[2018-10-30 23:32] cleemullins commented on #45
The [3.16.2.42631 build](https://botbuilder.myget.org/gallery/botbuilder-v3-dotnet-daily) is published on the daily build feed.

The [package(s) can be seen here](https://botbuilder.myget.org/feed/botbuilder-v3-dotnet-daily/package/nuget/Microsoft.Bot.Builder/3.16.2.42631).

Next step is to regression test, then publish.

[2018-10-30 23:58] v-kydela commented on #40
@bora89 - I'll try to reach out to the team and see if I can get an answer for you

[2018-10-31 05:49] FengXiaohe opened #46 "Send List Template with ChannelData to Facebook Messenger returned 'Bad Request'"
## Version
bot builder V3.15.2.2

## Describe the bug
Using the bot framework V3.15.2.2, I send a List Template to Face book by ChannelData, but it is failed, and I get the exception of [Operation returned an invalid status code 'BadRequest'] .
But I send the Json by curl, it was successful.

## To Reproduce
`
RootDialog.cs

    public virtual async Task ChoiceReceivedAsync(IDialogContext context,

[2018-10-31 06:02] FengXiaohe opened #47 "Dialogue.choice can not display more than 3 selections in facebook messenger"
## Version
3.15.22

## Describe the bug
I used the Dialogue.choice to display selections.
In the Web Chat, it look like this
![image](https://user-images.githubusercontent.com/30440909/47768839-a315cf00-dd14-11e8-8531-91198f4ade5b.png)

But in the facebook messenger it look like this
![image](https://user-images.githubusercontent.com/30440909/47768924-f0923c00-dd14-11e8-9855-b08a1556ec7d.png)
![im

[2018-10-31 16:16] v-kydela commented on #41
It sounds like you have two separate issues: HTML not rendering and buttons not rendering. According to the [documentation](https://docs.microsoft.com/en-us/skype-sdk/skype-for-business-bot-framework/docs/overview#feature-support), both of these are expected:

If you're having problems with your options not appearing, I recommend sending the options explicitly as text.

[2018-10-31 17:54] nyxsys commented on #47
This is built-in for facebook messenger (unfortunately not officially documented), but discussion regarding this can be found [here](https://stackoverflow.com/questions/37848437/any-way-around-facebook-bots-button-template-limit)

It would be possible to implement these as [suggested actions](https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-send-suggested-actions?view=a

[2018-10-31 18:19] jwiley84 commented on #42
Similar to #39

[2018-10-31 21:53] vovanb commented on #42
I don’t see any solution till now...

[2018-11-01 02:58] FengXiaohe commented on #47
@nyxsys Thank you for your answer. I got it.
I tried the suggested actions, it worked in my Emulator, but nothing is appeared in Face book messenger.
Although I can build the same layout by PromptDialog.Choice,  I want to know that doesn't the facebook messenger channel support suggested actions?

`
    my code:

                var message = context.MakeMessage();
                message.Type = A

[2018-11-01 03:01] FengXiaohe commented on #46
As the following changed, it is worked.
old   : message.ChannelData = getListTemplate();
new :  message.ChannelData = JObject.FromObject(getListTemplate());

Is there anything difference whether is there "JObject.FromObject" ?

[2018-11-01 11:33] Wajeed-msft commented on #40
@bora89 - We have no plans for supporting these cards in Microsoft Teams. We recommend [Task Module](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/task-modules/task-modules-overview) instead.

A task module allows you to create modal popup experiences in your Teams application. Inside the popup, you can run your own custom HTML/JavaScript code, show an <iframe>-based widget suc

[2018-11-01 11:41] bora89 commented on #40
Ok, fair enough, thanks for the information.

[2018-11-01 13:41] filipjakov opened #51 "Can't loadSession from bot.on('event', event => {})"
## Version
**Botbuilder**: 3.15.0,
**Node.js**: 8.9.0
**Running on my local machine**

## Description
The call for `builder.UniversalBot.loadSession` fails silently while called in the `builder.UniversalBot.on` handler.

## To Reproduce
Steps to reproduce the behavior:
1. A Directline postActivity is created on the client. A 'event' type message with text 'connect' is sent to the bot.
[code]
2. A

[2018-11-02 18:19] nyxsys commented on #51
You mentioned `data.address` a few times in the event handler, but it doesn't look like that's defined in the activity sent, which should be the source of the immediate issue from the looks of things.

That said, I'll take a look into why the callback is not returning the error out of `loadSession`

[2018-11-02 21:16] nyxsys commented on #47
Just double checked and it's currently working in messenger, since it doesn't seem to be a bug it would be preferable if you created a question on stackoverflow to dig into the issue you're having some more. That said, here's the code that is currently working on my end.

[code]

If this does not work, please follow up on this issue on stack overflow.

[2018-11-02 21:16] #47 closed

[2018-11-03 08:57] filipjakov commented on #51
@nyxsys as the activity enters the bot it has some additional data/properties, one of which is the address property (implementing the botbuilder [IAddress](https://docs.botframework.com/en-us/node/builder/chat-reference/interfaces/_botbuilder_d_.iaddress.html) interface). Here is an example of a data object:

[code]

[2018-11-05 18:12] cleemullins opened #54 "JS SDK needs to take the 4.1.5 protocol Changes"
This work was done in the v3 C# SDK as part of #52

[2018-11-06 13:57] bora89 commented on #40
We just tried to use Task Module that you mentioned - and failed. At the moment user clicks on a button we have error
[code]

Unfortunately we did not find any demo that works with the Tasks module, do you have any? Too much noise in the docs...

[2018-11-06 18:53] cleemullins opened #55 "Update dependencies to remove obsolete package"
Numerous packages are being reported by GitHub as needing update.
https://github.com/Microsoft/BotBuilder-v3/network/alerts

[2018-11-06 19:06] cleemullins opened #56 "C# Daily Build needs to follow semver rules"
The daily build is not properly following semver rules.

Attemping to build a "-preview" release incorrectly stamps the package version into the assemblyinfo files as the assembly versions. The build then fails, as assembly versions need to be 1.2.3.4 format.

Also, the build should allow the "Exact Version" semantics the C# v4 builds use.

[2018-11-07 21:34] nyxsys commented on #51
For the moment I'm setting up a PR to at least add a try catch for error handling to the location that should throw the exception. I am going to dig deeper and try and find out why this is occurring at all after that.

[2018-11-07 23:52] #54 closed

[2018-11-08 00:03] vishwacsena opened #58 "Include SDK version identifier in User-Agent header on all calls to LUIS APIs"
Is your feature request related to a problem? Please describe.
Today, we do not have any view into LUIS traffic that are driven by botbuilder. LUIS service instruments all calls to the service and can report on User-Agent to identify the specific client.

Describe the solution you'd like
On all calls to LUIS service, include User-Agent header with the following value -
botbuilder/v3-sdk/csharp/maj

[2018-11-08 00:29] nyxsys commented on #51
So the error `"Cannot read property 'loadSessionWithOptionalDispatch' of undefined"` suggests that something is wrong with the initialization of the universal bot. Could you post your code where you initialize the `bot` itself?

[2018-11-08 07:34] filipjakov commented on #51
This is the code:
[code]

I've used other methods (like `send`, `on`, `dialog` ...) and everything works. This is the only exception.

[2018-11-08 20:14] stevengum opened #59 "Bug: Generator folders in Node/ and CSharp/ still exists"
## Describe the bug
We have the Generator files still listed here, though the actual code now lives in botbuilder-samples.

## Expected Behavior
Have the generator code in one repo

[bug]
[javascript]

[2018-11-08 20:32] stevengum commented on #59
We're going to keep this since the old versions of the generators still exist on npm, and vsix.

[2018-11-08 20:32] #59 closed

[2018-11-08 21:08] nyxsys commented on #51
I realize that, which is why its weird that the error suggests there's an issue there, going to look into it further.

[2018-11-08 23:11] v-kydela commented on #41
Closing due to inactivity

[2018-11-08 23:11] #41 closed

[2018-11-08 23:38] nyxsys commented on #51
I tried `bot.loadSession` on a bot on the same version of botbuilder you've listed in three locations. ` bot.on()` as well as `bot.dialog()` and `bot.use()` but I have not been able to recreate the error you are seeing, both with and without including the same bot.set() config calls you've posted. Could you try and see if you get a different result out of putting the `bot.loadSession()` call into

[2018-11-09 18:34] EricDahlvang commented on #58
https://github.com/Microsoft/botbuilder-dotnet/blob/master/doc/UserAgents.md

[2018-11-09 18:37] EricDahlvang commented on #45
Closing.  This has all been completed.

[2018-11-09 18:37] #45 closed

[2018-11-09 18:59] vishwacsena commented on #58
Eric, I'm very much aware of the user agent doc. This issue will help us instrument bot builder calls on the LUIS service side and can provide usage across SDK, CLI tools and emulator.

[2018-11-09 19:09] EricDahlvang commented on #58
@vishwacsena I was planning on implementing this in BotBuilder v3, and just added the link to UserAgents spec so I can refer to it when I get to this. :)

[2018-11-09 19:32] EricDahlvang commented on #36
Hi @LlewellynJones

Apologies for the late response.

The Emulator channel does not require authentication to be configured in the bot.  But, WebChat and Skype channels do.  To get the deployed bot to work on those channels, you will need to setup authentication.  This documentation should help with troubleshooting: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-troubleshoot-authen

[2018-11-09 19:32] #36 closed

[2018-11-09 19:34] EricDahlvang commented on #39
Closing as duplicate of https://github.com/Microsoft/BotBuilder-V3/issues/37

[2018-11-09 19:34] #39 closed

[2018-11-09 19:57] EricDahlvang commented on #46
Hi @FengXiaohe

I'm glad you've got it working.

On this page, https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-channeldata?view=azure-bot-service-3.0 the documentation states:

[2018-11-09 19:57] #46 closed

[2018-11-10 01:08] EricDahlvang commented on #37
Hello @PrernaGupta1

Is this still happening consistently, or was it possibly a temporary issue that day?

[2018-11-13 20:35] CoHealer commented on #51
@filipjakov, have you tried the suggestion from @nyxsys or is the issue resolved? Thx.

[2018-11-13 20:40] CoHealer commented on #42
Hi @vovanb, are you still seeing this issue?

[2018-11-13 20:56] CoHealer commented on #37
No response received in 19 days. Assuming the issue was transient and does not repro.

[2018-11-13 20:56] #37 closed

[2018-11-13 21:22] vovanb commented on #42
Yes - all the time.

[2018-11-14 00:46] cleemullins commented on #31
@carlosscastro Any update on this?

[2018-11-14 17:16] teamplumaa opened #62 "LUIS not recognizing dialogs stored in subfolders"
Microsoft BotbuilderSDK: 3.15.0
Language: NodeJs

I am trying to initialize my dialogs with LUIS but it's not working.

I have each dialog in different subfolders. I am using bot.library and require to call the subfolders in **app.js**.  The dialogs work when I use session.beginDialog to trigger them as in the example below.

   var bot = new builder.UniversalBot(connector, function (session) {

[2018-11-14 17:17] teamplumaa commented on #62
@stevengum I see that you have provided insights on problems with LUIS in the past, any help will be appreciated

[2018-11-14 18:46] EricDahlvang commented on #62
Hi @teamplumaa

Please check out the Contoso Flowers sample's Multi-Dialogs approach using builder.Library:

https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples/Node/demo-ContosoFlowers#multi-dialogs-approach

With more explanation found here: https://stackoverflow.com/questions/44098019/ms-bot-builder-how-to-create-a-hierarchical-library-structure

---
The Microsoft Bot Framework 

[2018-11-14 18:46] #62 closed

[2018-11-14 20:47] EricDahlvang commented on #31
Hi @aniketk1264

I apologize for the delayed response.

As you know, these 404s are not actual exceptions, but the Azure Storage team has decided to throw exceptions as a control flow mechanism (more info here: https://github.com/Azure/azure-storage-net/issues/119 )

Here are a few options you can pursue to exclude these 404s from your Application Insights:

- Create an **ITelemetryProcessor** to

[2018-11-14 20:47] #31 closed

[2018-11-14 21:31] CoHealer commented on #6
@boychyk , can you please provide the BotID requested a while ago?

@Prybe, can you please open a separate issue in the BotBuilder repo? It will better assist in our tracking and reporting, thx.

[2018-11-14 21:40] teamplumaa commented on #62
@EricDahlvang thanks for the reply.

However, the post does not give any guidelines or path to the answers I was looking for so other recommendations might be appreciated.

--------------

The reason for posting here for the second time was that your Support Engineers were not responding via Stack Overflow.

I have been waiting for help with regards to this matter for almost two weeks now, and eve

[2018-11-14 21:50] EricDahlvang commented on #62
I'm sorry you haven't received a response to your Stack Overflow question.  Would you please share the link to it here, and I'll make sure someone answers it.

[2018-11-14 22:14] #55 closed

[2018-11-14 22:55] EricDahlvang opened #63 "Add Sentiment Analysis to LUIS Result"
## Tracking Status
**Dotnet SDK**
- [x] PR
- [x] Merged

**Javascript SDK**
- [x] PR
- [x] Merged

[2018-11-14 23:13] EricDahlvang opened #64 "Add alteredQuery to LUIS Result"
## Tracking Status
**Dotnet SDK**
(already exists: https://github.com/Microsoft/BotBuilder-V3/commit/e0e0d9bf5565034436cd60d05cb0d5339b01f726 )

**Javascript SDK**
- [x] PR
- [x] Merged

[2018-11-15 15:33] jwiley84 commented on #6
@CoHealer, @Prybe opened the issue [here](https://github.com/Microsoft/botbuilder-dotnet/issues/1074) and I have @boychyk 's botid in my email.

[2018-11-15 18:36] CoHealer commented on #51
Closing as resolved not repro

[2018-11-15 18:36] #51 closed

[2018-11-15 18:51] CoHealer commented on #64
@EricDahlvang, per our discussion it seems like this should be done at the the same time as #63 Add Sentiment Analysis. Please confirm with @cleemullins

[2018-11-15 18:57] CoHealer commented on #58
@EricDahlvang, please coordinate the change with those being done by @yshahin and @Zerryth

[2018-11-15 19:00] CoHealer commented on #6
Ack, thanks

[2018-11-16 16:52] EricDahlvang opened #66 "Node localization tests are failing"
## Version
Clean pull of the respository

## Describe the bug
Tests in Node\core\tests\localization.js are failing

## To Reproduce
Steps to reproduce the behavior:
1. download the source
2. npm install in core folder
3. npm run test
4. See errors

## Expected behavior
Tests all pass

## Additional context
55 passing (2m)
  23 failing

  1) localization
       should return localized prompt when f

[2018-11-16 16:53] LlewellynJones opened #67 "Operation returned an invalid status code 'Unauthorized'"
## Version
3.17.0.42969

## Describe the bug

Microsoft.Bot.Connector.ErrorResponseException
operation returned an invalid status code 'Unauthorized'

## To Reproduce
If the application hasn't been used for an hour or more there is an authorization error at the start of a conversation with the app. If the error is ignore the conversation continues normally.

## Expected behavior
Expect the convers

[2018-11-16 18:54] CoHealer commented on #66
@EricDahlvang, please investigate and fix

[2018-11-16 19:33] EricDahlvang opened #68 "AdalAuthenticator does not accept empty MicrosoftAppId and MicrosoftAppPassword"
## Version
Clean pull of the repository.

## Describe the bug
ArgumentNullException when messaging a bot without MicrosoftAppId and MicrosoftAppPassword

## To Reproduce
Steps to reproduce the behavior:
1. download the source
2. set EchoBot as the startup project
3. remove the MicrosoftAppId and MicrosoftAppPassword from web.config
4. run the bot
5. connect to the local bot from the emulator witho

[2018-11-16 19:40] carlosscastro commented on #68
This is being fixed in a PR today along with other changes. Good catch @EricDahlvang !!!

[2018-11-16 23:39] EricDahlvang commented on #66
User err! 👎

[2018-11-16 23:39] #66 closed

[2018-11-17 23:33] sgellock commented on #70
this is pretty old.

[2018-11-19 18:31] CoHealer commented on #68
@EricDahlvang, please close upon verification, thx.

[2018-11-19 18:36] CoHealer commented on #42
Hi @vovanb. If you provide the information requested above we'll investigate further. Otherwise we'll consider the issue to be resolved. Thanks.

[2018-11-19 19:23] clari182 opened #71 "Bot not sending Welcome Message first time"
## Version
V3

## Describe the bug
I'm using the ActivityType Conversation Update to send a welcome message to the user.
This was working fine until now, where the bot doesn't send the message the first time anymore. (Neither on the Emulator or in the Web Chat)

This is the code
[code]
When I run the bot on the Emulator and debug the code, it looks like it works fine but no message is sent on the

[2018-11-19 21:16] EricDahlvang commented on #70
Hi @pepefrog69

Let me see if I understand your scenario correctly.  You have four types of scans: metrology, porosity, reverse engineering and wall thickness.  It sounds like you want LUIS to help determine which type of scan the user is requesting.  If that is the case, you can create a LUIS model that has a 'CT Scan' intent and a list type entity of 'Scan Type' with metrology, porosity, reverse

[2018-11-19 21:52] vovanb commented on #42
@CoHealer it is happen all the time

23:47:58.354 directline.botframework.com/v3/directline/conversations/46X5QFlviQ2JuXtaqpXDUJ/activities:1 Failed to load resource: the server responded with a status of 502 ()
The time is GMT +2
Bot: CCSPcloudAgentBotAssist
Application ID: d0f43152-df68-4a69-932e-f8ffef8ba658
Chanel is directline

[2018-11-20 01:50] EricDahlvang commented on #68
Fixed!

[2018-11-20 23:54] EricDahlvang commented on #71
Hi @clari182

This is a known issue with a workaround described here: https://blog.botframework.com/2018/07/12/how-to-properly-send-a-greeting-message-and-common-issues-from-customers/

There is also a related issue on the WebChat repository:
https://github.com/Microsoft/BotFramework-WebChat/issues/1371

I'm closing this issue, since this is the BotBuilder-V3 sdk repository and the issue is more r

[2018-11-20 23:54] #71 closed

[2018-11-21 00:49] chyonek opened #74 "High memory usage when using FormFlow JSON schema."
## Version
Microsoft.Bot.Builder.FormFlow.Json

3.15.2 Not repro
3.15.2.3 Not repro
3.15.3 Repro
...
3.17.0.42969 Repro

## Describe the bug
High memory usage occurs in the sample of Annotated Sandwich Bot when using FormFlow JSON schema.
Every time I answer the question written in JSON, the memory usage increases about 100 MB. OutOfMemoryException occurred in my customer's environment.

## To Rep

[2018-11-21 17:03] TchuBotin opened #75 "WhatsApp"
Hi

Will the new BotFramework V3 support WhatsApp too?

Thank you!

[2018-11-21 17:10] EricDahlvang commented on #75
Hi @TchuBotin

Interest in a WhatsApp channel for the Bot Framework is being tracked here: https://github.com/Microsoft/BotFramework-Services/issues/7

[2018-11-21 17:10] #75 closed

[2018-11-21 18:51] EricDahlvang commented on #42
Hi @vovanb

You stated that "we created simple hello asp.net application" and are receiving 502 exceptions "all the time".  Would you please share the code for this bot, and explain the configuration for how the web application is hosted.

Is the web application scaled sideways to multiple instances?

What are the circumstances surrounding the 502s?  (are multiple users accessing the bot when the

[2018-11-22 00:50] EricDahlvang commented on #74
Hi @chyonek

Thank you for reporting this.  This change appears to be the cause of the memory issues: https://github.com/Microsoft/BotBuilder-V3/commit/c78b7d8c93560dffbffc43acccbdcf923fc71504

This was introduced to fix https://github.com/Microsoft/BotBuilder/issues/4755  However, it is apparently doing too much.

Commenting out these lines that clear the _scripts in the FormBuilderJson restores

[2018-11-22 07:48] ms-yuhara commented on #74
Thank you @EricDahlvang

I have confirmed that memory consumption can be suppressed by the above code change as well in my environment.
However, if we revert this, the original #4755 problem will reoccur, won't it?

[2018-11-22 16:30] EricDahlvang commented on #74
Yes, but the original problem was related to a bad script being present.  It isn't a valid fix to recreate all of the scripts every time the dialog loads.

[2018-11-23 06:36] ShujaathKhan opened #77 "bot not responding with Citrix Secure Web Mobile browser"
## Version
- V3.
- .NET framework
- Directline Implementation

## Describe the bug
Bot is totally not functional in Citrix secure web.
Where as bot is working fine Chrome mobile browser
We're are using in secure brower to secure with authentication.

## To Reproduce
Steps to reproduce the behavior:
1.  Open the bot link in **Citrix Secure browser in Mobile**
2.  Say hi to bot
3. You'll not see any

[2018-11-23 21:34] EricDahlvang commented on #44
This response behavior of the sdk is by design: https://github.com/Microsoft/BotBuilder-V3/blob/master/Node/core/lib/Session.js#L654

Some recent discussion about HTTP response characteristics can be found here: https://github.com/Microsoft/botbuilder-dotnet/issues/1009

[2018-11-23 21:34] #44 closed

[2018-11-23 22:18] EricDahlvang commented on #77
HI @ShujaathKhan

This is the BotBuilder-V3 repository.  Please direct your issue to the WebChat repository here: https://github.com/Microsoft/BotFramework-WebChat/issues

[2018-11-23 22:18] #77 closed

[2018-11-23 22:55] EricDahlvang commented on #70
@pepefrog69 I'm closing this issue.  If you have future questions about LUIS or the Bot Framework, please direct them to StackOverflow https://stackoverflow.com/questions/tagged/botframework  The Bot Framework team prefers to use the GitHub repositories for Feature Requests and Bug Reports.

[2018-11-23 22:55] #70 closed

[2018-11-24 01:11] EricDahlvang commented on #34
Calls to the channels mentioned here (Skype and Slack) return a MethodNotAllowed exception.  However, I also could not get this to work with the Emulator, DirectLine or WebChat.  I also tried using v4 and Postman as well, with the same results.  DirectLine and WebChat return:

{
    "error": {
        "code": "ServiceError",
        "message": "bot channel not found"
    }
}

There is apparently a

[2018-11-26 23:38] cleemullins commented on #56
@godsanchez has this working. We will migrate future (3.20+) C# v3 builds to the new build.

[2018-11-27 17:47] CoHealer commented on #74
Fix has been reviewed and checked in. Will close this upon the next v3 publish.

[2018-11-27 18:22] CoHealer commented on #67
Fixed with 3.19 release

[2018-11-27 18:22] #67 closed

[2018-11-27 18:31] CoHealer commented on #42
@vovanb, can you please provide the requested information? Thx.

[2018-11-28 20:00] EricDahlvang commented on #58
Closed the PR (format was a hack).

@johnataylor will provide a new format for the user-agent string.

[2018-11-29 19:41] EricDahlvang commented on #42
@vovanb Please upgrade to the latest version of v3 (currently 3.19.1.44133) https://www.nuget.org/packages/Microsoft.Bot.Builder

And let us know if you are still having this issue.

[2018-12-01 02:21] EricDahlvang opened #79 "Integrate AgentKeepAlive fix into node connector"
* SDK Platform: node
* SDK Version: latest
* Active Channels: n/a
* Deployment Environment: any

## Issue Description
Ref:
https://github.com/Microsoft/botbuilder-js/issues/183

**Javascript SDK**
- [ ] PR
- [ ] Merged

[2018-12-01 08:46] DrWala opened #82 "First prompt of proactive localised formflow in wrong language in bot framework"
## Version
3.16.1.38846

## Describe the bug
I'm trying to create a localised formflow that can be proactively triggered. I'm able to create the form and trigger it through an API call using the [proactive dialog](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-proactive-messages?view=azure-bot-service-3.0#send-a-dialog-based-proactive-message) trigger. However, the fi

[2018-12-01 17:51] InsaneNaman opened #81 "Unable to save Kik channel configuration"
* SDK Platform: Node.js
* SDK Version: 3.x.x
* Deployment Environment: Bot Channel Registeration Service
* Issue Description
* Cannot Save Kik Channel Configuration

###  Reproduction Steps
1-Goto Azure Portal
2-Select Bot App
3-Channels
4- Kik
5- Add Credentials (Display Name and Token)
6- Save
### Expected Behavior
Save and Enable Kik Channel

### Actual Results
Unable to save. Failed to registe

[2018-12-02 15:48] vovanb commented on #42
same issue after upgrade

[2018-12-03 21:17] EricDahlvang commented on #81
Hi @InsaneNaman

Are you using the bot's Display Name, or your personal Display Name?

This placeholder text should state: "Your bot's Kik display name"

![image](https://user-images.githubusercontent.com/11055362/49402111-d249a280-f6fd-11e8-91aa-ce92408621e8.png)

[2018-12-03 23:52] EricDahlvang commented on #81
@InsaneNaman Closing this as a duplicate of https://stackoverflow.com/questions/53584761/unable-to-save-kik-channel-configuration-azure-bot-service

We will work internally to have the placeholder text updated for clarity.

[2018-12-03 23:52] #81 closed

[2018-12-04 18:41] CoHealer commented on #42
We don't have a clear enough picture at this point. Are you available to do a video conference so you can show us the different configs and walk us through your code? We can talk this over in email as well. Both Eric and my email addresses are public on our profiles.

[2018-12-04 18:46] CoHealer commented on #34
After investigation with the team it's apparent that this is only supported for DirectLine and Facebook. It is not supported for Skype and as such we're closing the issue.

[2018-12-04 18:47] CoHealer commented on #6
Closing due to inactivity. @boychyk , please reopen if the issue persists.

[2018-12-04 20:19] 10p30pl3 opened #83 "DirectLine not responding to client"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
Version 3
Direct Line

## Describe the bug
Send Hello to bot, activities are not sent back

## To Reproduce
Steps to reproduce the behavior:
On a bot with di

[2018-12-04 20:30] 10p30pl3 commented on #83
When I try to publish an activity, I'm getting error :
{ url: 'https://directline.botframework.com/v3/directline/conversations/5Ynkct7yQco5lmOIhUmx7A/activities',
  method: 'POST',
  headers: { error: 'no response from server' },
  errObj:
   { Error: read ECONNRESET
    at TLSWrap.onread (net.js:659:25)
     errno: 'ECONNRESET',
     code: 'ECONNRESET',
     syscall: 'read',
     response: undefi

[2018-12-04 20:46] 10p30pl3 commented on #83
I found a error on azure channels log:

04/12/2018 18:38:26 | There was an error sending this message to your bot: HTTP status code BadGateway
-- | --

[2018-12-05 11:10] HektorW opened #86 "Directline channel closing connections when using context.PostAsync. Resulting in 502 on client."
## Version
3.19.1.44133

## Describe the bug
The Directline channel seems to be offline. The channel closes any connection when trying to send response messages, resulting in exceptions.
Other channels such as FB Messenger and Emulator still works with the same code.

## To Reproduce
Steps to reproduce the behavior:
1. Receive a message from a Directline channel
2. Start a new dialog
3. Send a res

[2018-12-05 15:56] HektorW commented on #86
The issue seems to be due to Azure Bot Service enforcing TLS 1.2 since 4th Dec.
Details about this change can be read here https://blog.botframework.com/2018/11/06/announcement-azure-bot-service-enforcing-transport-layer-security-tls-1-2/.

We're forcing our application to use a later TLS version with the following code:
[code]

[2018-12-05 15:56] #86 closed

[2018-12-05 16:58] tdurnford commented on #83
The Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**.

[2018-12-05 16:58] #83 closed

[2018-12-06 00:03] 10p30pl3 commented on #83
It was not a how to. I had some bots working for months and they suddenly stopped. Magically, next day they started working again.
Lessons learned, it is too dangerous to rely on one API and uncertain support.

[2018-12-06 02:52] mitkodi opened #89 "BotAuthenticator failed to authenticate incoming request"
Since several hours my bot (both staging and production) can't authenticate incoming requests (without any changes in it). In Application Insights I see the following failures:

![application insight](https://user-images.githubusercontent.com/5601143/49558119-abb08500-f912-11e8-87f5-b8a5eec25fed.jpg)

[2018-12-06 06:39] EricDahlvang commented on #89
Where is the bot hosted?

 These changes have recently been applied: https://blog.botframework.com/2018/11/06/announcement-azure-bot-service-enforcing-transport-layer-security-tls-1-2/  could they be affecting your bot?

[2018-12-06 07:32] mitkodi commented on #89
@EricDahlvang, the production bot is hosted on Windows Server 2012 and the staging on Windows Server 2008 R2 SP1 (KB3140245 is already installed).

[2018-12-06 07:48] mitkodi commented on #89
I solved the problem by enabling strong encryption for all .NET application:
[code]

[2018-12-06 07:48] #89 closed

[2018-12-06 08:11] saurav2107 opened #90 "I am getting below error message very frequently on DirectLine Channel : There was an error sending this message to your bot: HTTP status code GatewayTimeout"
I am getting below error in my Bot very frequently, There was an error sending this message to your bot: HTTP status code GatewayTimeout.

Mainly I see this issue with Direct Line (WebChat) it works fine for other channels.

Bot Framework Version: 3.16.1.38846

My Bot is deployed in Staging environment, we are planning to move the Bot to Production very soon, but this issue seems to be blocker as

[2018-12-06 17:40] CoHealer commented on #90
There was a deployment last night that resulted in some availability issues with Direct Line. Are you still seeing this issue?

[2018-12-06 18:47] EricDahlvang commented on #83
Hi @10p30pl3

I'm sorry you've run into this issue.  I notice that the time you posted this corresponded with the enforcement of TLS 1.2 https://blog.botframework.com/2018/11/06/announcement-azure-bot-service-enforcing-transport-layer-security-tls-1-2/  Could your issue have potentially been related to this?

[2018-12-06 19:03] CoHealer commented on #74
Fix checked in & merged into master.

[2018-12-06 19:03] #74 closed

[2018-12-06 19:03] #38 closed

[2018-12-06 19:05] CoHealer commented on #58
Fix checked in & merged into master.

[2018-12-06 19:05] #58 closed

[2018-12-06 19:14] CoHealer commented on #63
Build issue preventing merge. Close upon resolve/merge

[2018-12-07 00:33] chyonek commented on #74
I am grateful for your speedy response.

[2018-12-07 14:41] saurav2107 commented on #90
I am still getting these issue, though the frequency is less:

![image](https://user-images.githubusercontent.com/1011594/49653833-1c16ed80-fa5c-11e8-98eb-0f58638f3d10.png)

Also, can you please let me know if there's any forum/place where you announce deployment details.

[2018-12-07 18:32] 10p30pl3 commented on #83
Hi @EricDahlvang thanks for your response.
I'l take a on TLS1.2 info.
Regarding the datacenter, it seems that the problem occurred on the websocket connection. Is there any action item I was supposed to do ?
Thank you again

[2018-12-07 20:51] EricDahlvang commented on #83
@10p30pl3 No, I don't believe there are any action items if you are not experiencing issues anymore.

I've also been told there were some transient issues with some Direct Line bots earlier this week, related to a service deployment.  Your issue may have been due to that.

Please do let us know if you continue to experience problems.

[2018-12-08 01:49] EricDahlvang commented on #82
Hello @DrWala

When creating the FormDialog, the CultureInfo needs to be sent as one of the parameters:
[code]

**PrivateConversationData** has a **ResumptionData** object that contains locale, and can be used in your call diallog to create a **CultureInfo**:

[code]

-----

Another option would be to create a custom ConversationReference containing Locale:

[code]

Storing CustomConversationRefer

[2018-12-10 06:09] DrWala commented on #82
Hi @EricDahlvang

Thank you for the detailed breakdown. Pulling the culture out of the PrivateConversationData worked. A bit strange that the form doesn't take in the locale saved within the context.activity though.

This issue can now be closed on your end. Thank you once again for your help!

[2018-12-10 06:09] #82 closed

[2018-12-10 17:32] jwiley84 opened #92 "HTTP error not authorized in webchat"
Moved from the Botbuilder Repo:, user @OBrien1510

Per user:

`<?xml version="1.0" encoding="utf-8"?> <packages> <package id="AdaptiveCards" version="1.0.3" targetFramework="net461" /> <package id="Autofac" version="4.8.1" targetFramework="net461" /> <package id="Chronic.Signed" version="0.3.2" targetFramework="net461" /> <package id="DnsClient" version="1.1.1" targetFramework="net461" /> <package

[2018-12-10 21:12] EricDahlvang commented on #92
@OBrien1510  Please upgrade to the latest BotBuilder V3 SDK: https://www.nuget.org/packages/Microsoft.Bot.Builder/3.19.1.44133

[2018-12-10 21:35] OBrien1510 commented on #92
@EricDahlvang I've tried that and no luck I'm afraid

[2018-12-10 21:45] EricDahlvang commented on #92
Have you implemented a custom state client (or in memory storage) for this bot?  Or is it using the default?

[2018-12-10 21:48] OBrien1510 commented on #92
Someone else handled the creation of the bot a while before I started on it but as far as I'm aware everything is set to default. I wouldn't know how to set up a custom state client or subsequently how to check for one

[2018-12-10 22:10] EricDahlvang commented on #92
More information can be found here: https://blog.botframework.com/2017/12/19/bot-state-service-will-soon-retired-march-31st-2018/

For testing, you can use the **InMemoryDataStore** by adding the following to Global.asax.cs Application_Start:

[code]

[2018-12-10 22:33] EricDahlvang commented on #92
The blog post is for March 2018.

Yes, the IDiaogContext methods will retrieve the state store registered with AutoFac as demonstrated above.  If no state store is registered, the bot will attempt to use the default.

[2018-12-10 22:49] OBrien1510 commented on #92
ah yes ok, So the the only part of the code that will need to be changed is the custom state client? The context should these use that custom state client to retrieve conversation specific data as it did previously with the default, without any changes to the rest of the code being needed? Thanks I will try and implement this as soon as I can and report back if I make any progress

[2018-12-11 08:38] poltyo opened #93 "Bots not working. Possible issue with Azure Bot Channel connectors. Error: "There was an error sending this message to your bot: HTTP status code Unauthorized" ( from 7.12.2018 to 11.12.2018)"
Bots didn't work for a couple of days returning "There was an error sending this message to your bot: HTTP Status code Unauthorized". We suspect there might have been an issue with Bot Channel connectors. Could you please confirm?

## Version 3.12.2.4

## Screenshots
![image 2018-12-11 11 40 42](https://user-images.githubusercontent.com/25149659/49788138-989a1c80-fd39-11e8-8f2c-9d27a748cf93.jpg)

[2018-12-11 14:41] saurav2107 commented on #90
Hi @EricDahlvang I have sent the details through email, do let me know if you need more information.

[2018-12-11 15:38] jwiley84 commented on #93
Similar to https://github.com/Microsoft/BotBuilder-V3/issues/92

[2018-12-11 20:13] MarynaParyvai commented on #93
Hi and thanks for getting back! We have multiple bots. One of them is s6t-bot-49-s6test-testbot: MsAppId: e8295088-3ce2-40dc-8fc7-ab167416f81d

Hope you can help!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Eric Dahlvang <notifications@github.com>
Sent: Tuesday, December 11, 2018 22:29
To: Microsoft/BotBuilder-V3
Cc: Maryna Paryvai | S6; Manual
Subject: Re:

[2018-12-11 20:35] nhadro commented on #92
We are having this same issue.  We have a v3 Bot that was working for a few months and then all of a sudden 2 days ago stopped working.  It works locally, but when running in Azure we get a 401 Unauthorized message.  We tried changing the code to use InMemory, but that didn't seem to resolve the problem.

[2018-12-11 20:51] EricDahlvang commented on #92
@nhadro Please provide your bot Handle and Microsoft App Id, so we can investigate further.

[2018-12-11 21:53] nhadro commented on #92
Handle:  GenysisBot_Azure
App ID: 991f8bf5-a90e-48eb-af21-de37d9e9d6cf

[2018-12-12 00:42] #63 closed

[2018-12-12 00:42] #64 closed

[2018-12-12 04:11] fercom commented on #93
this worked for me: https://social.msdn.microsoft.com/Forums/en-US/90af15ce-16ce-49e1-980c-b3dba7b9e8a7/my-chatbots-suddenly-dont-work-on-facebook?forum=windowsazurewebsitespreview&prof=required

[2018-12-12 04:12] fercom commented on #92
this worked for me https://social.msdn.microsoft.com/Forums/en-US/90af15ce-16ce-49e1-980c-b3dba7b9e8a7/my-chatbots-suddenly-dont-work-on-facebook?forum=windowsazurewebsitespreview&prof=required

[2018-12-12 04:16] nhadro commented on #92
On the azure app service for the BOT I have the Minimum TLS Version already set to 1.2, but I'll try the coding approach and see if that fixes anything.  Thanks.

[2018-12-12 04:37] fercom commented on #92
@nhadro glad it helped Nate, it took me all the day to figure this out jaja. I had 2 bots from customers that suddenly stopped working

[2018-12-12 04:49] nhadro commented on #92
Same here, spent hours and I had the app service set to 1.2 so I thought that was covered.  Errors didn't give any indication it was a TLS issue, but thanks again!!

[2018-12-12 06:36] poltyo commented on #93
Bots started to work again yesterday 12/11, but we still need to investigate the issue as our clients have been affected

[2018-12-12 06:41] poltyo commented on #93
We had our servers configured to accept TLS 1.2 when bots stopped working and didn't change anything with TLS when started working again

[2018-12-12 10:04] OBrien1510 commented on #92
@fercom Thanks that was the one. It's working again. Many thanks!

[2018-12-12 15:19] DanteNahuel opened #94 "Error 500 when sending email to bot"
Hi
I'm trying to get my bot to accept and reply messages through the email channel. However I only get Error 500 Bad Request when I send an email to the configured address.

Here's the message controller.
[code]

Here's the Dialog
[code]

And here's the Exception:

[code]

[2018-12-12 18:56] CoHealer commented on #93
Thanks. I'm glad this resolved your issue. I'll pass the information from codeshare and see if we can get the blog posting updated to reflect this.

[2018-12-12 18:56] #93 closed

[2018-12-12 19:33] CoHealer commented on #92
Closing as resolved by community. Also related to #93.

[2018-12-12 19:33] #92 closed

[2018-12-12 19:34] fercom commented on #92
@OBrien1510 Glad it helped!

[2018-12-13 08:58] poltyo commented on #93
Hi CoHealer!

While the issue has fixed itself, we need to investigate what has caused the issue to create a report for our clients.

As I have said, bots started to work on 12/11, after glitches 12/7-12/11 and we haven't done anything to either break or fix them neither have we changed the server's configuration. As i said **We had our servers configured to accept TLS 1.2 when bots stopped workin

[2018-12-14 00:49] EricDahlvang commented on #94
Instead of context.MakeMessage, please try context.CreateReply()

[code]

[2018-12-14 11:55] taranais opened #95 "Skype Markdown do not show Images"
## Version
SDK 3.19.1.44133

## Describe the bug
Skype Channel do not render markdown correctly

## To Reproduce
Steps to reproduce the behavior:

markdown sample:
![markdown](https://user-images.githubusercontent.com/859916/50001724-08a8dc80-ff9e-11e8-8e96-ee8ee28b17eb.png)

## Expected behavior
Same render as Webchat:

![webchat](https://user-images.githubusercontent.com/859916/50001753-1fe7ca00

[2018-12-14 16:43] EricDahlvang commented on #95
Hello @taranais

Not all channels support every form of Markdown.  This Channel Inspector is a little out of date, but still useful: https://docs.botframework.com/en-us/channel-inspector/channels/Skype?f=Markdown&e=example1

Also, with Skype specifically, there has historically been different levels of Markdown support depending on which Skype client is being used.  Which client and version are yo

[2018-12-14 16:51] taranais commented on #95
Android and Windows Desktop Store.
Some months ago it render ok, dont know when it stop render it.

third screen on inspector show skype rendering markdown images [link](https://docs.botframework.com/en-us/images/inspector/Skype/Markdown/example3.png)

[2018-12-14 17:07] EricDahlvang commented on #95
Are you able to provide the version number for which Skype client version properly rendered the markdown?

Also, please share the actual markdown or a small example that will reproduce the problem.

[2018-12-14 21:34] EricDahlvang commented on #94
Closing this as a duplicate of https://stackoverflow.com/questions/53712285/bot-framework-v3-email-json-object

[2018-12-14 21:34] #94 closed

[2018-12-17 10:54] pancongying opened #96 "502 Bad Gateway when deploy bot framework to Azure in Testing in Web Chat"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
SDK: V3
.NET

## Describe the bug
I'm still struggeling with deploy mijn bot framework app to Azure. I was succes to publish the application in VS en also su

[2018-12-17 12:10] pancongying commented on #96
Can anybody help me or give me some tips?

[2018-12-17 20:42] EricDahlvang commented on #96
Based on this image:
![image](https://user-images.githubusercontent.com/11055362/50114111-97189a80-01f8-11e9-8e62-491444955016.png)

The bot is using the default state service, which has been deprecated.  Please try adding an **IBotDataStore<BotData>** implementation, such as **InMemoryDataStore**:

[code]

This blog post discusses the deprecation of the default state service: https://blog.botfram

[2018-12-17 20:53] carlosscastro commented on #90
Hello @saurav2107,

Few follow up questions to understand more about your bot:

1. 504 suggests that this might not be even hitting your code on the bot. If you navigate to your bot endpoint in a web browser, what do you get? i.e. if your endpoint is https://mybot.mydomain.com/api/messages, try navigating to https://mybot.mydomain.com/ in your browser. Do you get a 200 OK? Or an error?
2. Do you h

[2018-12-18 08:14] pfeifel opened #97 "Since yesterday, failure to send responses to Skype users"
## Version
Using REST API to https://smba.trafficmanager.net/apis/v3/
Using C# HTTP client

## Describe the bug
Since yesterday, sending any message to this endpoint results an exception: "Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host."
This exact configuration worked flawlessly until yesterday.

To clarify, we are getting incoming

[2018-12-18 10:04] n0sleep commented on #97
I'm not sure if its the same root error, but I also got the same exception "Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host" since yesterday.

I'm using the directline c# client (nuget package version 3.0.2) and the error happens when I simply call:
_directLineClient.Tokens.GenerateTokenForNewConversation()

[2018-12-18 11:31] pancongying commented on #96
Hi @EricDahlvang. Thanks for your replying. With your feedback I changed the Global.asax.cs based on this website: https://blog.botframework.com/2017/07/18/saving-state-azure-extensions/
Now I have my custom storage using cosmos db and Emulator doesnt give me the message you showed above any more. So I think it is succusfully implemented.
![image](https://user-images.githubusercontent.com/29035467

[2018-12-18 18:40] CoHealer commented on #97
@n0sleep, can you please send the bot handle so we can look it up in the service logs?

[2018-12-18 19:20] pfeifel commented on #97
I found the issue and fixed my code to avoid the problem, as follows:

I am using HttpWebRequest with .NET framework 4.6.
The exception I got was as described above, but digging into the call stack, I saw that the exception was generated from the internal .NET function "System.Net.TlsStream.ProcessAuthentication". This gave me the hint to investigate the security protocol.

Under .NET 4.6, the Ser

[2018-12-18 19:42] CoHealer commented on #97
Glad you found root cause. Closing as resolved.

[2018-12-18 19:42] #97 closed

[2018-12-19 11:06] n0sleep commented on #97
Mine started to work again without any change. So I guess it must have been an infrastructure issue.

[2018-12-19 13:01] saurav2107 commented on #90
Hi @carlosscastro,

Inline is the response to your follow up questions to understand more about bot:

504 suggests that this might not be even hitting your code on the bot. If you navigate to your bot endpoint in a web browser, what do you get? i.e. if your endpoint is https://mybot.mydomain.com/api/messages, try navigating to https://mybot.mydomain.com/ in your browser. Do you get a 200 OK? Or an

[2018-12-19 13:10] saurav2107 commented on #90
Hi @carlosscastro, unable to find your email, please let me know how can i send you application insight details.

[2018-12-19 17:32] EricDahlvang commented on #90
Hi @saurav2107

Carlos was not asking for you to send the Application Insights key, but rather for you to ensure that you have setup Application Insights in order to help you diagnose the 502s.

Please note: enabling application insights analytics for a bot is different from configuring application insights for a web application
Bot: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-m

[2018-12-19 18:23] EricDahlvang commented on #96
Based on the images, your messaging endpoint is https://agendabotapp.azurewebsites.net/api/messages  ... does the Application Settings for AgendaBotApp have the MicrosoftAppId and MicrosoftAppPassword for the bot?

[2018-12-19 18:57] pancongying commented on #96
Hi, @EricDahlvang. I have configured the MicrosoftAppId en MicrosoftAppPassword in Application Settings (see the 3rd image i posted).
Is this issue caused by the version of bot framework that i used (bot framework v3)? Because i tried to create a new Web App Bot en used the default messaging endpoint en it worked fine. But when i changed the messaging endpoint to  https://agendabotapp.azurewebsite

[2018-12-19 19:46] EricDahlvang commented on #96
The 3rd image above is for ordinaagendabot-b16f not for agendabotapp.  Whatever web application the bot's messaging endpoint is using needs to have the  MicrosoftAppId and MicrosoftAppPassword in Application Settings.

[2018-12-20 10:53] saurav2107 commented on #90
Hi @EricDahlvang, thanks for clarifying.
One thing I would like you to know about the issue I am facing is, whenever I see this error, I do get the response, only problem is it takes around 15 to 30 seconds to get the response, I am not doing anything fancy in this, just a query to QnA Maker.

Please help, I am still getting these errors, and it really getting very annoying.

![image](https://user

[2018-12-20 14:18] pancongying commented on #96
![image](https://user-images.githubusercontent.com/29035467/50289862-532ccc00-046a-11e9-8d05-edc027c55fa8.png)
Hi @EricDahlvang Thanks a lot. It works finally en it was a zo simple error. haha. Thanks!

[2018-12-20 18:17] CoHealer commented on #42
Closing per lack of response. Please reopen if you have answers to the questions put forth.

[2018-12-20 18:17] #42 closed

[2018-12-20 18:19] #96 closed

[2018-12-21 08:36] saurav2107 commented on #90
Hi @CoHealer ,

I have used application insight for Bot and QnAMaker.
As my bot client (Directline) is hosted on a SharePoint site, I don't have application insight enabled for Bot's client.

[2018-12-22 01:22] v-kydela opened #98 "FormFlow: Templates do not get applied to the navigation step"
## Version
3.19.1

## Describe the bug
When you build a form out of a class and there are template attributes applied directly to the class, it's expected that those templates will apply to every field/step. However, they don't seem to work on the navigation step. If you have template attributes like this:

[code]

They can apply just fine to any step except the navigation step. I've tested this w

[2018-12-22 22:39] v-kydela opened #99 "FormFlow: Navigation step responds incorrectly when multiple fields match user input"
## Version

3.19.1

## Describe the bug

A navigation step in a FormFlow form dialog will give choices of what field to navigate to. Sometimes the terms used to identify fields will match more than one field (ex: "name" could match both first name and last name). In other steps, FormFlow asks for [clarification](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-formflow?

[2018-12-23 01:53] v-kydela commented on #99
Actually, now I'm second-guessing myself. Upon further testing, it seems the bug can manifest when you enter a partial field name at the navigation step even if that input isn't ambiguous. So this may have more to do with partial input than ambiguous field names. Perhaps it has to do with the dialog using field terms to determine the next prompt but expecting the field's full description in order

[2018-12-25 19:55] PaulPreteau opened #100 "Formflow: Acts as though it is on the previous step"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.15.2.2

## Describe the bug
When going through Formflow occasionally it acts as though it is on the previous question.

## To Reproduce
Steps to reproduce

[2018-12-26 18:31] CoHealer commented on #99
BY design and a work around is available. Not doing enhancements to v3.

[2018-12-26 18:31] #99 closed

[2018-12-26 18:34] CoHealer commented on #98
By design. Outside of scope for v3.

[2018-12-26 18:34] #98 closed

[2018-12-26 18:34] v-kydela commented on #99
I'm sorry but what is the workaround?

[2018-12-26 18:37] CoHealer commented on #95
@taranais, please respond or will close as inactive.

[2018-12-26 18:42] EricDahlvang commented on #90
Hi @saurav2107

We were not asking if you have setup Application Insights for the bot client, but we are asking if you have setup application insights for the Bot, AND for the web application hosting the bot:

Bot: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analytics?view=azure-bot-service-4.0#enable-analytics

Web Application: https://docs.microsoft.com/en-us/azure/appl

[2018-12-26 19:39] taranais commented on #95
Any inline image markdown send on postAsyn Will show this issue

''''
![alt text](https://github.com/adam-p/markdown-here/raw/master/src/common/images/icon48.png "Logo Title Text 1")
''''

[2018-12-27 00:08] v-kydela commented on #100
Hi Paul. Can you please let us know if you can reproduce the problem locally using the Bot Emulator? If it's only in a deployed bot and only in Teams, that would be a very strange bug indeed.

I wonder if it's related to a FormFlow [bug](https://github.com/Microsoft/BotBuilder-V3/issues/99) I recently posted about partial matches on the navigation step. Your enum fields present a list of choices i

[2018-12-28 02:14] PaulPreteau commented on #100
I have reproduced it on the emulator and have created simplified code, which the issue happened again with.

here is the code (it is based on a luis bot)
luisBot

    using System.Net.Http;
    using System.Threading;
    using System.Collections.Generic;

    using Microsoft.Bot.Connector;
    using Microsoft.Bot.Builder.Dialogs;
    using Microsoft.Bot.Builder.Luis;
    using Microsoft.Bot.Build

[2018-12-30 03:41] v-kydela commented on #100
I'm afraid even with your code I still can't reproduce the issue. If you want further help I think it would be a good idea to include repro steps. You might also consider trying to debug it yourself by setting breakpoints in your delegates. And if you want to get really advanced you could define a [prompter](https://github.com/v-kydela/BotBlog/blob/master/Blog%20-%20Making%20your%20own%20Prompter.

[2019-01-02 20:57] PaulPreteau commented on #100
I updated the framework to 3.19.1.44133 and this seems to have solved the issue.

[2019-01-02 20:58] v-kydela commented on #100
Glad to hear it, @PaulPreteau !

[2019-01-02 20:58] #100 closed

[2019-01-03 07:44] huajunzhao opened #102 "InvalidAuthenticationToken exception for Aadv1bot sample"
## The Microsoft Bot Framework team prefers that ["How To"](https://stackoverflow.com/help/how-to-ask) questions be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework). The official [Bot Framework GitHub](https://github.com/Microsoft/BotBuilder/issues) repository  is the preferred platform for submitting **bug fixes and feature requests**.

## Bot Info
* SDK Plat

[2019-01-04 09:22] huajunzhao commented on #102
@EricDahlvang do you have any idea?

[2019-01-04 18:58] EricDahlvang commented on #90
Please open a new issue if you are still experiencing problems.

[2019-01-04 18:58] #90 closed

[2019-01-06 01:18] klamgade opened #106 "BotError : Failed to send activity: bot returned an error. httpStatusCode: 417"
**Bot Info**
SDK Platform: .NET
SDK Version: 3.14.1.1
Emulator Version: 4.1.0
Channel: Web Chat

**Issue Description**
calls made to https://directline.botframework.com/v3/directline/conversations/conversationId/activities
is providing error code 502(Bad gateway)

![image](https://user-images.githubusercontent.com/14478366/50730876-84bccb80-11bc-11e9-95da-c7ca547480c2.png)

**Reproduction Steps**

[2019-01-07 18:11] jamachad opened #103 "[Microsoft Teams] AclCheckFailed"
## Version
What package version of the SDK are you using.
3.19.1.44133

## Describe the bug
Calling the method **CreateOrGetDirectConversation** will give the following exception for a subset of users:

**Error Message**: _Operation returned an invalid status code 'Forbidden'._

Additionally, on Bot Services channels, the Microsoft Teams reports multiple occurrences of the following error: **Failu

[2019-01-09 01:21] rib-pet opened #104 "[500 internal error, unauthorized ] Bot error, when to send message to bot via directline."
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
3.15.2.2

## Describe the bug

first of all, I got the direct line secret from my bot services. therefore, in

[2019-01-09 20:11] tdurnford commented on #104
It looks like you are using the wrong endpoint to send messages to your bot through DirectLine.

To send messages to your bot with DirectLine, you first need to use your DirectLine Secret to generate a token and a conversation Id which can be used to access a single conversation. Issuing a POST request to `https://directline.botframework.com/v3/directline/tokens/generate` should respond with a val

[2019-01-10 07:32] rib-pet commented on #104
@tdurnford , thank you very much.

I am pretty sure that I am using correct endpoint and right directline secrete . in my local machine, "" is my endpoint, after I use ngrok.exe to generate https url. See my picture:

![image](https://user-images.githubusercontent.com/37282473/50952589-cd8dc080-14eb-11e9-9b39-3001a655dd78.png)

At Azure, I also put this endpoint for my bot service as below:
![imag

[2019-01-10 14:18] Prybe commented on #6
Hi, the issue still persists!

Here is the message when i click the "submit for review"

`{
	"type": "event",
	"id": "DolLCbM7LCc",
	"timestamp": "0001-01-01T00:00:00+00:00",
	"localTimestamp": null,
	"localTimezone": null,
	"serviceUrl": "https://dev.botframework.com/",
	"channelId": "test",
	"from": {
		"id": "portal",
		"name": null,
		"aadObjectId": null,
		"role": null
	},
	"conversation": {

[2019-01-10 19:39] CoHealer commented on #6
Using [#1074](https://github.com/Microsoft/botbuilder-dotnet/issues/1074) to track

[2019-01-10 19:40] #6 closed

[2019-01-10 20:06] tdurnford commented on #104
This seems to be related to this issue https://github.com/Microsoft/BotBuilder/issues/4445

[2019-01-10 20:20] tdurnford commented on #104
How are you requesting your authorization token?  If you are getting your token through DirectLine, all of your requests need to be through DirectLine. However, you can get an authorization token through the REST API which I believe should work with your approach. I would recommend taking a looking at the [Create a bot with the Bot Connector service](https://docs.microsoft.com/en-us/azure/bot-serv

[2019-01-11 00:59] rib-pet commented on #104
@tdurnford , thx.

that approach you mentioned is for clarify Token_access right? In my opinion, directlien secret is band with current bot service. it should not have such "unauthorized" issue. Anyway, I will try. maybe it tells that why is like that.

[2019-01-11 05:35] rib-pet opened #105 "Bot occasionally errors [Microsoft.Bot.Connector.ErrorResponseException: PreconditionFailed'], when multiple users send message to Bot server via directline at same time"
## Version
What package version of the SDK are you using.

- package id="Microsoft.Bot.Builder" version="3.15.2.2" targetFramework="net46"
- package id="Microsoft.Bot.Connector" version="3.15.2.2" targetFramework="net46"

## Describe the bug
Give a clear and concise description of what the bug is.
When multiple users send messages to Bot server via directline at same time, the user who sent messag

[2019-01-11 05:45] rib-pet commented on #105
When I develop the directline, during one step : create conversation to the url (https://directline.botframework.com/v3/directline/conversations)

it requires that you must provide the following request body:
![image](https://user-images.githubusercontent.com/37282473/51015260-89132b00-15a6-11e9-99c9-8c0faa3f54c9.png)

I made a mistake, all conversations are based on the "From: user1". Actually, E

[2019-01-11 08:44] rib-pet commented on #104
it seems that ngrok is not working. I created another bot service, it's working

[2019-01-11 08:45] #104 closed

[2019-01-11 18:35] jwiley84 commented on #105
Just to clarify, does this mean you've resolved your issue?

[2019-01-11 23:14] jwiley84 commented on #103
This is not an issue we usually see with Teams; typically it comes up on Skype when it does come up. You say 'to initiate a conversation with a user'. Is your bot trying to send proactive or welcome messages? Also, can you check if the users affected have not blocked the bot via the teams interface?

[2019-01-12 05:31] venkatesh-bhupathi opened #108 "GetTokenDialog responding with retryMessage error after a period of running the bot"
## Issue
We are using GetTokenDialog for authentication of the user. This is working fine but intermittently we see that bot responds only with the retryMessage that is part of the GetTokenDialog. We have to restart the Bot App Service, then this will start working fine. We donot have any stack trace as only response we get from bot is this retryMessage from GetTokenDialog.

## Proposed change
*De

[2019-01-13 01:13] rib-pet commented on #105
@jwiley84, Yes, Just ensure that you provide unique id to request bot service

[2019-01-13 02:35] #105 closed

[2019-01-13 23:53] sgellock commented on #108
@carlosscastro 3.19.x should fix this, yes?

[2019-01-14 20:00] EricDahlvang commented on #106
If you wish to bypass the token generation, and use the Direct Line secret from here:

![image](https://user-images.githubusercontent.com/11055362/51137289-5ad65b00-17f3-11e9-8a6e-4aeef3f9ebc3.png)

Step 1:
Create the conversation using the Direct Line Secret:
![image](https://user-images.githubusercontent.com/11055362/51137351-780b2980-17f3-11e9-8f17-8b2db415e01c.png)

Step 2:
Post message to tha

[2019-01-14 20:36] CoHealer commented on #95
Apologies for the delayed response @taranais . Per the Skype team this is by design; it's not supported.

[2019-01-14 20:36] #95 closed

[2019-01-14 23:09] EricDahlvang commented on #107
@skyline9002  It looks like you had originally opened this in another repository almost a year ago, but it was moved here a few days ago.  I apologize that you did not receive an answer in the BotBuilder-Samples repository. **Is this still an issue for you?**

1. by BlobTable, are you referring to https://github.com/Microsoft/BotBuilder-Azure/blob/master/CSharp/Library/Microsoft.Bot.Builder.Azure/

[2019-01-15 00:41] EricDahlvang commented on #102
Which line us failing:  172, 174 or 175?

Is the ngrok path configured in the Emulator?

![image](https://user-images.githubusercontent.com/11055362/51150434-2b3b4900-181b-11e9-8718-7b472145c195.png)

[2019-01-15 04:12] srungta commented on #108
Hi @EricDahlvang , I am from the same team as @venkatesh-bhupathi .
We are using Microsoft.Bot.Builder version 3.15.3

[2019-01-15 06:43] EricDahlvang commented on #108
Please upgrade to https://www.nuget.org/packages/Microsoft.Bot.Builder/3.19.1.44133

[2019-01-15 18:39] CoHealer commented on #108
@srungta, can you confirm the update has resolved your issue?

[2019-01-16 04:44] jeffhee opened #109 ""Cannot post activity. Unauthorized.... jwt must be provided""
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
3.15

## Describe the bug
Our bot that has been functioning for over a year is no longer responding to users.

[2019-01-16 13:55] srungta commented on #108
Hi @CoHealer , We notice this issue after some time in deployment. I have made changes in our dev environment. Will confirm once we have a confirmation of resolution. :)

[2019-01-16 17:44] EricDahlvang commented on #102
@huajunzhao Is the Emulator configured as described in these instructions: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-authentication?view=azure-bot-service-4.0&tabs=csharp#use-the-emulator-to-test-your-bot ?

[2019-01-16 19:20] mdrichardson commented on #109
Let's start with getting this bot working locally. What version of the emulator are you running? Can you get any [sample bots](https://github.com/Microsoft/BotBuilder-V3/tree/master/Node/examples) to work?

[2019-01-17 05:15] jeffhee commented on #109
Hi there, thank you for the response.

1) I'm using emulator version 4.2.1. with and without ngrok .
2) Using the firstRun and menus example (downloaded BotBuilder-V3-master, ran npm install in /Node/examples/basics-firstRun and /Node/examples/basics-menus; created new configuration in Emulator, using "http://localhost:3978/api/messages". Same behavior experienced as in screenshots from original p

[2019-01-17 17:45] mdrichardson commented on #109
There's definitely something odd going on with your bot. We need to do some more testing in order to pinpoint the issue.

1. Go into Azure and open your Web App Bot resource.
2. Open up your web browser's Dev console (usually by pressing F12)
3. Click Test in Web Chat
4. Copy/paste any error messages you get in either the web chat window or the dev console when messaging your bot.

Here's more or

[2019-01-17 20:58] gcollic opened #110 ".Net Client-side NuGet : support reconnection when the secret is server-side"
## Issue

In the Microsoft BotBuilder family, the .Net NuGet package [Microsoft.Bot.Connector.DirectLine](https://www.nuget.org/packages/Microsoft.Bot.Connector.DirectLine) is not Open Source and does not have a GitHub repo, so I open this issue here.

In the bot service documentation, it says that if an app has an expired token (too late to be renewed) in the client side, it should ask the server

[2019-01-17 20:58] sgellock commented on #110
Mistakenly assigned this to the wrong repo.  putting in the v3 repo where it belongs

[2019-01-17 21:48] jwiley84 commented on #109
@jeffhee
Also, can you go into Azure and test your OAuth connection?

![image](https://user-images.githubusercontent.com/17333688/51351042-9fb1fa00-1a5e-11e9-8821-0a0371961b8e.png)

[2019-01-19 16:22] SamAlbuga opened #111 "[v3.15.0] [Messenger] 500 error when trying to send a message with Hero cards using session.send()"
## Version
3.15.0

## Describe the bug
500 Error when trying to send a message with Hero Cards attachments using **session.send()**
[code]

## To Reproduce
Steps to reproduce the behavior:
[code]

## Expected behavior
Send the message with the cards.

[bug]
[javascript]

[2019-01-19 16:33] #111 closed

[2019-01-19 16:35] SamAlbuga commented on #111
I was sending an Object to builder.CardImage.create(_,_) instead of URL. After fixing that no more 500s

[2019-01-21 17:32] #107 closed

[2019-01-21 17:36] EricDahlvang commented on #106
@klamgade I'm closing this issue.  Please open a new issue, if you believe you've found a bug or have a feature request, or ask a question on Stack Overflow with the Bot Framework tag for questions.

[2019-01-21 17:36] #106 closed

[2019-01-21 19:35] EricDahlvang commented on #103
Closing due to no response.

[2019-01-21 19:35] #103 closed

[2019-01-21 23:48] CoHealer commented on #108
Hey @srungta, any news?

[2019-01-22 07:55] SrilekhaT opened #113 "How to initiate an audio call from bot to user?"
Hi,
Is it possible to initiate an audio call from Bot to the user? If yes, Could you please provide the sample code using nodejs.

[2019-01-22 16:33] tdurnford commented on #113
This appears to be a duplicate of this [Stack Overflow question](https://stackoverflow.com/questions/54303517/how-to-initiate-an-audio-call-from-bot-to-user).

[2019-01-22 17:06] CoHealer commented on #108
I don't believe so no. @carlosscastro, can you please confirm?

[2019-01-22 17:12] tdurnford commented on #113
The official [Bot Framework Github](https://github.com/Microsoft/BotBuilder/blob/master/README.md) repos are the preferred platform for submitting **bug fixes** and **feature requests**, and the Microsoft Bot Framework team prefers that **how to** questions be submitted on [Stack Overflow](http://stackoverflow.com/search?q=%23botframework). Since you have already asked your question on Stack Overf

[2019-01-22 17:12] #113 closed

[2019-01-23 05:54] SrilekhaT commented on #113
Thanks for the update. Can you please answer the question in stack overflow.

[2019-01-23 07:05] srungta commented on #108
Also it would be nice if you could confirm that the dependency of Microsoft.IdentityModel.Clients.ActiveDirectory was added to resolve these issues?
Asking because versions prior to `3.19.1.44133` did not have a dependency on this nuget.

[2019-01-23 17:27] carlosscastro commented on #108
Yes, it was added to solve these issues.

[2019-01-23 19:40] mdrichardson commented on #109
@jeffhee Are you still having trouble?

[2019-01-23 21:53] jeffhee commented on #109
@mdrichardson, From the portal's web test, the browser console prints a 502 gateway error:
![image](https://user-images.githubusercontent.com/4308564/51639581-1bf08580-1f16-11e9-86f8-e7d7810f3446.png)

I attempted restarting the app and trying the web test again, no change.

@jwiley84, I'm not familiar with that option. poked around the portal and wasn't able to find it. Can you help point it out

[2019-01-23 21:54] jeffhee commented on #109
I just ran the basics-menu app successfully:
![image](https://user-images.githubusercontent.com/4308564/51639710-71c52d80-1f16-11e9-9aaa-101ab53261c4.png)

[2019-01-23 22:31] mdrichardson commented on #109
@jeffhee Regarding the "Test Connection" option...if you go into your Web App Bot in Azure, go to Settings, then at the very bottom, click on your OAuth connection:

![image](https://user-images.githubusercontent.com/40401643/51641519-35480080-1f1b-11e9-9080-61191141ac18.png)

Can you also go to:

`https://<yourBotName>.scm.azurewebsites.net/dev/wwwroot/:vs.output`

then attempt to chat with your

[2019-01-23 22:39] jeffhee commented on #109
This bot doesn't have OAuth Connection Settings:

![image](https://user-images.githubusercontent.com/4308564/51641821-1c8c1a80-1f1c-11e9-9fba-5f80a32e7aa8.png)

Cross-referenced with a different bot that is currently functioning and there is no setting there either.

Attempted to send a message to the bot using the Emulator, and received these errors in the browser console:

![image](https://user-

[2019-01-23 22:55] jeffhee commented on #109
A more recent test using the web chat displayed more info in the browser console. Maybe it's more helpful?

![image](https://user-images.githubusercontent.com/4308564/51642697-f3b95480-1f1e-11e9-96cf-a38ceddfd282.png)

[2019-01-23 23:04] mdrichardson commented on #109
How are you signing people into your bot if you're not using OAuth?

Also, when you run the bot locally and get an error, can you provide a stack trace of the error that appears in the same console you run `npm start` in? Depending on whether or not you already have a `console.log()` in your code, you may just need to wrap your code in a `try/catch` statement.

[2019-01-23 23:53] jeffhee commented on #109
Tested more locally, looking for the right code to wrap in try/catch and found an issue with custom code involving middleware that forces jwt authentication for specific routes. When used incorrectly, it forces authentication to all routes. UGH.

Thank you for your help.

[2019-01-23 23:53] #109 closed

[2019-01-24 21:25] EricDahlvang commented on #108
Closing this.

If you must stay on a version earlier than 3.19, you can add some code to refresh the token manually, as described here: https://blog.botframework.com/2017/11/02/optimizing-latency-bot-framework/

[2019-01-25 21:15] indobits opened #114 "Problem with Bot Builder HeroCard"
Hi, I have problems when I show HeroCards on Bot Framework. I used version 3.13.1.

[2019-01-26 01:30] tdurnford commented on #114
Which SDK are you using - Node or C#? Also, can you please elaborate on the issue you are having and add the code where you are creating and sending the HeroCard so we can help you resolve your issue?

Additionally, I would recommend updating the BotFramework packages you are using to the most resent release - 3.16.0 for Node and 3.20.1 for C# were just released the other day.

[2019-01-26 04:41] indobits commented on #114
I am using SDK 3 and Node. I've just upgraded bot builder to 3.16.0

[code]

[2019-01-26 06:15] indobits commented on #114
My error is:

[code]

[2019-01-29 20:30] tdurnford commented on #114
It looks like there are two potential issues with your code.

First, in the last line of the code you added, use the `addAttachment` method instead of the `attachments` function.

[code]

Secondly, it appears that you are trying to send an array of messages to the user. Sending multiple messages is fine, but you need to send them all individually. The code to send the `arrMsg` array should have th

[2019-01-30 13:58] EricDahlvang commented on #4
@thschuetze This was fixed in [3.19.1](https://www.nuget.org/packages/Microsoft.Bot.Builder/3.19.1.44133)

[2019-02-01 12:50] ruisilva450 opened #115 "FormBuilder ValidateResult Choices only works on emulator"
## Version
v3.20.1

## Describe the bug
I have a model with a FormBuilder with a field that asks a string that should contain a date, asks LUIS about the resolution of that date and if there are multiple resolutions it appends to ValidateResult Choices the possible answers for the user to pick. But this only works fine in the emulator. Skype and Teams were tested so far with error BadRequest on bu

[2019-02-05 18:24] CoHealer commented on #114
@indobits . does this solve your issue?

[2019-02-05 19:25] EricDahlvang opened #116 "Investigate and fix issues with some v3-sdk-samples"
https://github.com/Microsoft/BotBuilder-Samples/tree/v3-sdk-samples

 - [ ] skype-CallingBot
       - filed an issue:
        - https://github.com/MicrosoftDocs/bot-docs/issues/833

 - [ ] Sample-payments
       -V4 emulator does not currently support payments.  Filed an issue: https://github.com/Microsoft/BotFramework-Emulator/issues/1324

 - [x] Blog-LUISActionBinding
       Removed since this s

[2019-02-06 23:51] CoHealer commented on #114
No response from user, closing

[2019-02-06 23:51] #114 closed

[2019-02-07 13:46] jamachad commented on #103
Sorry, I OOF and couldn't validate the latest comments.
I tried again today and it worked for the rest of users (>60 users). I no longer see the ACLCheckFailed so I assume was something with the platform...

[2019-02-07 16:57] Zerryth commented on #115
@ruisilva450 sent you an email. Please take a gander :)

[2019-02-08 00:43] EricDahlvang commented on #110
Thanks for filing this issue.  You're right, it is more complex to work with the DirectLineClient compared to the DirectLineJS library.  However, you can check the DirectLineClient's token expiration time, and refresh it client side.  You then need to manually re-connect to the websocket using the refreshed streamUrl.  Based on your comments, it sounds like you are already doing this, but would ap

[2019-02-13 21:52] CoHealer commented on #115
@ruisilva450, @Zerryth requested you send over your bot to help in the investigation. Do you still need assistance and if so can you please send it over to her? Thx.

[2019-02-15 00:38] Zerryth commented on #115
@ruisilva450 specifically can you share the code for what defines LuisLog, so I can run your code?

[2019-02-15 18:13] ruisilva450 commented on #115
Sorry for the delay. I'm trying to prepare a repo to reproduze this. Maybe this weekend.

[2019-02-15 19:11] Zerryth commented on #115
@ruisilva450 sounds good.

Right now I've set up a project on my own machine that points to the v3 SDK so I can debug into it locally.

However plugging your code into the formflow of the bot, there are certain members I don't have the definitions of
![image](https://user-images.githubusercontent.com/35248895/52878795-5e227680-3112-11e9-9794-340f6993d663.png)

I'll wait for your sharing and will d

[2019-02-21 07:21] vishmonne opened #118 "Bot not waiting for Prompts.text input and Prompts.choice"
### Bot info:

•	SDK Platform : Node.js
•	SDK Version : v3
•	Deployment Environment : Azure Bot service
•	3 Web app bot created in Azure ( dev, demo and prod)

### Issue Description:

builder.Prompts.choice and builder.Prompts.text  is not waiting for user input ( It sometimes wait for the user input and sometimes doesn’t wait and goes back to the main function and treat it as a separate utterance

[2019-02-22 05:25] srungta commented on #108
HI @EricDahlvang @carlosscastro ,
We deployed the changes with 3.19.1.44133 update and the auth issue still came up day before yesterday.
is there any way to capture logs for this or any other changes that we can try?
Thanks

[2019-02-22 14:53] EricDahlvang commented on #108
Hi @srungta

Please share the following, so we can investigate from our side:

MicrosoftAppId
BotHandle
UTC time of exception
ConversationId related to exception

---

Have you configured Application Insights for the bot and for the Web Application hosting the bot?

Bot: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analytics?view=azure-bot-service-4.0#enable-analytics

Web

[2019-02-23 15:07] vishmonne commented on #118
Hi Team,

Any solution for this issue ?

[2019-02-25 10:53] vishmonne commented on #118
Hi i think i am facing the same issue as  [#4477](url)

[2019-02-25 17:14] rainmakerho opened #119 "User's message will disappear when bot reply activity's channelData contain clientActivityId from user's activity"
I use bot sdk v3 echobot with webchat v4.

User's message will disappear when bot reply activity contain clientActivityId.

The codes like,
[code]

index.html codes (webchat set webSocket to false),
[code]

[2019-02-25 19:18] v-kydela commented on #118
The issue you linked to was fixed in BotBuilder 3.15.3. Have you updated your SDK to the latest version of v3?

Also, you should not be using in-memory storage for a published bot. Please have a look at the [documentation](https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-state?view=azure-bot-service-3.0#manage-custom-data-storage) for some help implementing proper stora

[2019-02-26 10:18] srungta commented on #108
Please find the details below:

**MicrosoftAppId** : `73d715b9-2724-4703-9790-651d954b0e2a`
**BotHandle** : `ConnectMe Support Helpdesk Bot`
**UTC time of exception** : mentioned next to conversation id
**ConversationId related to exception** : A few conversationids related to this
1. `DIRX8wOnBfP4s248ll04bA-g` [9:42 PM 25th Feb 2019]
2. `I31RwEwBM3vBYOJbCW6bXA-g` [9:41 PM 25th Feb 2019]
3. `B0tJU

[2019-02-26 17:58] vishmonne commented on #118
Hi @v-kydela  thanks for replying back.

i was not able to update it to 3.15.3 it showed me this error (PFA THE Screenshot)
![error package](https://user-images.githubusercontent.com/10339913/53435047-e90e4580-3a1d-11e9-8b05-fe27a7ad3374.PNG)

Can u help me with why this error is coming and i am only able to update it to 3.16.0 , not other than that in SDK V3. And after i update it to 3.16.0 also

[2019-02-26 19:34] v-kydela commented on #118
Hi @vishmonne

You can see that the output is saying that version 3.15.3 is not available. It shows you a list of valid install targets and 3.16.0 and 3.15.0 are there but not 3.15.3. You can also verify this by going here and clicking on [versions](https://www.npmjs.com/package/botbuilder).

This is fine because you don't need 3.15.3. I just said to update to the latest version, and 3.16.0 is sur

[2019-02-26 22:53] EricDahlvang commented on #108
Have you configured Application Insights for the bot and for the Web Application hosting the bot?

Bot: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analytics?view=azure-bot-service-4.0#enable-analytics

Web Application: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net

Also, which channel are you seeing these errors on?

[2019-02-26 23:02] EricDahlvang commented on #108
Also, please provide the Bot Handle (i think you've provided the description or display name).

![image](https://user-images.githubusercontent.com/11055362/53452737-05d35a80-39d7-11e9-959e-2c54134b1aaa.png)

[2019-02-27 00:18] venkatesh-bhupathi commented on #108
Hi Eric,

Bot Handle: connect-me-prod-bot is the bot handle.
________________________________
From: Eric Dahlvang <notifications@github.com>
Sent: Wednesday, February 27, 2019 4:32 AM
To: Microsoft/BotBuilder-V3
Cc: venkatesh-bhupathi; Mention
Subject: Re: [Microsoft/BotBuilder-V3] GetTokenDialog responding with retryMessage error after a period of running the bot (#108)

Also, please provide the

[2019-02-27 11:03] alokraj68 opened #120 "[.NET SDK] 401 Unauthorized in 3.15.2.2 when posting back to user"
## Version

C# 3.15.2.2

## Describe the bug

The First user after long inactivity of bot suffers from not getting back any reply from the bot.
We were able to find the following from the logs.

directline.botframework.com | HTTP | POST /v3/conversations/(ID goes here)/activities/(ID goes here) | https://directline.botframework.com/v3/conversations/(ID goes here)/activities/(ID goes here) | FALSE

[2019-02-27 16:47] jwiley84 commented on #120
Hi @alokraj68!

Can you update to 3.19 or higher and let me know if this is still happening?

[2019-02-28 06:19] vishmonne commented on #118
hi @v-kydela , when i implemented the CosmosDB, the prompts.text issue got resolved, but in the prompts.choice function i have a issue ( the same random types)

**Please see my code for the Prompts.choice**

`
var test = ""; //global variable
function Prompt_With_Choice(session,Content,Buttons,intent,entity,entitytype)
{
    test=entity;
    console.log("the test value is " + test ); // i am getti

[2019-02-28 14:30] ruisilva450 commented on #115
@Zerryth sorry of the delay.

On this [repo](https://github.com/ruisilva450/FormBuilder_115) there is a showcase of this issue.

Remember that in the emulator it works "fine" but on other channels (skype e.g.) it just fails.
I say "fine" because it still shows a ```0``` before asking the right choice.

I also left a LUIS app credentials on ```web.config``` on purpose that is created to reproduce t

[2019-02-28 22:53] EricDahlvang commented on #79
Load testing:

•	Without AgentKeepAlive, tons of connections in TIME_WAIT
•	With AgentKeepAlive, TIME_WAIT connections not an issue

This blog post: https://blog.botframework.com/2018/03/05/fix-snat-exhaustion-node-js-bots/  seems incomplete.  Just creating AgentKeepAlive is not enough.  It also needs to be added to the options of the ChatConnector, so outgoing calls will use it.

This works, but

[2019-02-28 23:04] Zerryth commented on #115
Excellent, I'll take a look

[2019-03-01 01:25] v-kydela commented on #118
Hi @vishmonne

That is actually expected behavior and it's a good example of why bots need state storage. When deployed, your bot may be running on many different servers. When you send a message to your bot, there's no telling what machine will receive that message. Therefore there's no reason to expect the bot's local variables to have the same locally-stored data that they did on the last turn.

[2019-03-01 22:44] EricDahlvang commented on #108
@venkatesh-bhupathi

Have you configured Application Insights for this bot and for the Web Application hosting the bot?

Bot: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-manage-analytics?view=azure-bot-service-4.0#enable-analytics

Web Application: https://docs.microsoft.com/en-us/azure/application-insights/app-insights-asp-net

Also, please share the code for how you are using

[2019-03-02 21:47] SalehAlbuga opened #121 "[v3.15.0][Messenger] Sending a Carousel Message with Hero Cards shows the cards in a random order not like the attachments array order"
## Version
3.15.0

## Describe the bug
In FB Messenger, sending a Carousel Message with Hero Cards shows the cards in a random order not like the attachments array order.
My code looks like this
[code]
I can't get it to show the cards in the same order in the array! Which is extremely annoying for users especially that my client shows their menu in a certain order!
*arr* is being returned from the

[2019-03-04 12:40] vishmonne commented on #118
hi @v-kydela , thanks for the detailed update on this,  i read through the link and got to understand better on the bot's state . By doing that , solved my random issue.

 But i wanted to know how come the same code with the memory storage as inMemory is working correctly in another web app bot , but not in this ?

[2019-03-04 17:37] v-kydela commented on #118
It's very difficult to answer that without more information. Here are some possibilities:

1. Maybe it is only working randomly and so you just happened to not have seen it fail yet
2. Maybe you're using a different version of the BotBuilder SDK that handles state differently
3. Maybe you're using different code that doesn't depend on state in the same way
4. Maybe you're uploading the bot to a se

[2019-03-04 19:48] Zerryth commented on #115
Just to update, I have reproduced the error, and trying to dig down into the reason

[2019-03-04 21:34] CoHealer commented on #120
@alokraj68, have you had the chance to try the recommendation @jwiley84 made?

[2019-03-04 21:41] v-kydela commented on #121
Hi @SalehAlbuga

What Messenger client are you using?

[2019-03-04 23:41] Zerryth commented on #115
@ruisilva450 the issue seems to be something that underlying is channel-specific to Teams and Skype which requires "text" property of messages to not be empty.
___
# The breaking issue

Looking into Azure --> Your Bot --> Channels, with the code you gave plugged in directly, I got the following errors:

_Teams_
![image](https://user-images.githubusercontent.com/35248895/53769881-1d588a80-3e92-11e9

[2019-03-04 23:41] #115 closed

[2019-03-05 07:04] Zhashkha commented on #121
Same to me
SDK Platform: .NET
SDK Version: 3.16.0
Active Channels: Facebook
Deployment Environment: Azure Bot Service, Azure App Service

[2019-03-05 19:52] v-kydela commented on #121
@SalehAlbuga
@Zhashkha

I have just reproduced this issue extensively myself. The Facebook Messenger platform has its own card system called [templates](https://developers.facebook.com/docs/messenger-platform/send-messages/template/generic/#carousel) that can accessed directly using an activity's [channel data](https://blog.botframework.com/2017/03/28/custom-channel-data/). However, the issue pers

[2019-03-05 19:52] #121 closed

[2019-03-08 00:05] v-kydela commented on #118
@vishmonne - Do you still need help?

[2019-03-08 07:32] vishmonne commented on #118
Hi @v-kydela , i am fine with the explanation. Thanks a lot for helping around with the random button issues. Really appreciate the help. We can close this issue.

[2019-03-08 10:59] tgckpg opened #122 "In skype group chat, IMessageActivity.GetMentions() only contains the first mention"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.20.1

## Describe the bug
When mentioning others using "@". message. Entities only contains first mention.

## To Reproduce
Steps to reproduce the behavior

[2019-03-08 16:31] EricDahlvang commented on #122
I just tested this with:
![image](https://user-images.githubusercontent.com/11055362/54040938-62730a00-417b-11e9-86ee-fe11ed17be36.png)

Multiple @Mentions are returned from GetMentions(), as well as within message.Entities. Please try the code you've shared without the `break;` inside the foreach (I also had to replace all > and < characters):

[code]

[2019-03-08 16:44] tgckpg commented on #122
Ah, I'm really sorry...must've been blind. That was a stupid mistake.

This is completely my bad. Thank you!

[2019-03-08 16:44] #122 closed

[2019-03-08 16:53] EricDahlvang commented on #122
You're welcome.  I'm glad it was something minor.

Happy coding!  :)

[2019-03-08 17:17] tgckpg opened #123 "Remove mention text still does not work [Ref BotBuilder #3067]"
## Version
3.20.1

## Describe the bug
Please refer to this bug [#3067](https://github.com/Microsoft/BotBuilder/issues/3067) that was closed by repo changes.

I think what #3067 described was correct since the code shown in [here](https://github.com/Microsoft/BotBuilder-V3/blob/master/CSharp/Library/Microsoft.Bot.Connector.Shared/ActivityEx.cs#L482) does not contain any codes that removes the `<at

[2019-03-08 17:27] #118 closed

[2019-03-08 19:05] EricDahlvang commented on #108
Closing this issue.  If you still require assistance with this, please contact me on the address on my profile, or in Teams.

[2019-03-08 19:05] #108 closed

[2019-03-08 19:30] RajneeshVerma commented on #120
@jwiley84 n @CoHealer,
Thanks for update, we have updated to 3.20.1 and deployed, but we need some more time to confirm as its not frequent.

Hopefully will have update on next week :)

[2019-03-08 21:35] EricDahlvang commented on #123
This issue is very specific to the Skype channel.  Until it fixed in either the connector service, or the sdk, the following is a workaround:

[code]

[2019-03-09 04:11] tgckpg commented on #123
Thanks, for now I'll be using the workaround.

However the connector service. Is there a repo for it so we can open an issue over there for the fix?

[2019-03-11 18:15] EricDahlvang commented on #123
Connector Service specific issues can be filed here: https://github.com/Microsoft/BotFramework-Services/issues

However, this issue also exists with BotBuilder V4: https://github.com/Microsoft/botbuilder-dotnet/blob/master/libraries/Microsoft.Bot.Schema/ActivityExtensions.cs#L54

I'll consult the team to see if this is something we intend to address in the sdk.

[2019-03-11 20:39] SalehAlbuga commented on #121
@v-kydela Thank you very much for the response! I'm using iOS Facebook Messenger

[2019-03-11 20:41] SalehAlbuga commented on #121
According to Facebook this has been fixed and I can confirm they are showing in the right order now!

[2019-03-11 21:36] EricDahlvang commented on #123
Hey @cleemullins

This particular issue also exists in the V4 implementation: https://github.com/Microsoft/BotBuilder-V3/issues/123 (same code)

The problem stems from the fact that the **Skype Connector Service** populates the Mention.Text like so:
`<at id=\"28:2bc5b54d-5d48-4ff1-bd25-03dcbb5ce918\">healthtest</at>`

While the activity.Text property has only the recipient name:
`healthtest`

This

[2019-03-12 13:56] vishmonne opened #124 "Is there any way in handling multiple entities in a single utterance dynamically"
**Bot info**
•	SDK Platform : Node.js
•	SDK Version : v3

**Issue Description**

I want to know if there is any way wherein we can dynamically get the entities in a single utterance for a intent instead of getting static like this

 var answerEntity = builder.EntityRecognizer.findEntity(args.entities, 'entity_type');

Like the code should be dynamic enough to handle multiple entitites

[2019-03-12 20:25] CoHealer commented on #120
Hi @RajneeshVerma, checking in to see if there's an update. Any news?

[2019-03-12 20:55] #34 closed

[2019-03-13 19:17] v-kydela commented on #124
@vishmonne - Can you explain a bit more about what the problem is?

If you just want to return multiple entities instead of one entity, you can use [builder.EntityRecognizer.findAllEntities](https://github.com/Microsoft/BotBuilder-V3/blob/master/Node/core/src/dialogs/EntityRecognizer.ts#L80)

Does that resolve your issue?

[2019-03-18 10:25] alokraj68 commented on #120
We did not get that issue after that till now. we are still going through testing. Will reopen the ticket if we receive it again.

[2019-03-18 10:25] #120 closed

[2019-03-19 21:11] v-kydela commented on #124
@vishmonne - Are you still working on this?

[2019-03-22 10:41] FengXiaohe opened #125 "the wrong locale happened when change the language"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.20.1.42
C#

## Describe the bug
I have build two Facebook page for the chat bot which is build by botframework, and the one page is talk in English, the ot

[2019-03-22 20:28] CoHealer commented on #124
Ten days with no user input. @vishmonne if you still need help with this, please acknowledge and re-open.

[2019-03-22 20:28] #124 closed

[2019-03-25 03:11] FengXiaohe commented on #125
I found the reason. But it is still botframework's bug, I think.

When I change the talking chat bot from one Facebook page A to another page B, page B's StartAsync method must be revoked. Actually in my programming some values are initiated by the resource file in the StartAsync method. But this StartAsync method's locale is previous Facebook page's locale. So I have to initiate my values in the

[2019-03-25 03:21] EricDahlvang commented on #125
Can you share the code?

[2019-03-25 04:01] FengXiaohe commented on #125
The code is like this.

[code]

I checked the values of  HelloOptions.Pairs in StartAsync. When I change from one Facebook Page A to Page B, the HelloOptions.Pairs's locale seem to be following the Page A. After I move the [InitialValues();
] into the method of ShowWelcomeMsg, the locale turn to be correct.

[2019-03-25 10:42] Skaaapi opened #126 "FormDialog static error using Json"
## Version
3.20.1.42

## Describe the bug
When using multiple dialogs, if one of them has an error, all other won't work anymore.

## To Reproduce
Dialogs are called as following :
`dialogForm = new FormDialog<JObject>(new JObject(), MakeJsonForm, FormOptions.PromptInStart, luisResult.Entities);
context.Call<JObject>(dialogForm, DialogFormComplete);`

My BuildJson function :
`public static IForm<J

[2019-03-25 16:05] EricDahlvang commented on #125
@FengXiaohe Is HelloOptions a dialog field, or is it a static field?  Please share the rest of the Dialog code. There is not enough here to determine what the issue is exactly, but it looks like HelloOptions is shared between users or conversations.

[2019-03-26 03:50] FengXiaohe commented on #125
I'm sorry for that. I checked that. The HelloOptions is defined like this.

[code]

As it is defined as static, it must be shared, right ? I'm sorry for my bad code.

[2019-03-26 09:06] #125 closed

[2019-03-26 19:14] EricDahlvang commented on #125
@FengXiaohe Don't feel bad.  I've written a lot of bad code myself.... I try to look at it as part of the learning process.

I'm glad you've solved this issue.

Happy coding! :)

[2019-03-26 20:49] EricDahlvang commented on #126
Hi @Skaaapi

This was previously reported here: https://github.com/Microsoft/BotBuilder/issues/4755  and a fix was submitted: https://github.com/Matti-Koopa/BotBuilder/commit/426bc89e0f268d45416aa8ce27110ad3c5692045  However, that fix caused out of memory issues and had to be rolled back: https://github.com/Microsoft/BotBuilder-V3/pull/76

It seems a better fix would be to catch the runtime compil

[2019-03-28 13:57] Skaaapi commented on #126
Thanks for your nice answer, I fixed it adding those lines. I replaced the dll with the edited one. That should be fine for the moment, we'll migrate to the V4 Framework soon ^^.

Thanks again, have a nice day !

[2019-03-28 16:54] #126 closed

[2019-03-30 14:11] sagnikm95 opened #127 "Bot state seems to be messed up. Dialog not working as expected"
I am using SDK V3 version 3.15.3. In my bot I am simulating a conversation flow using Dialogs. But instead of hitting the call back function mentioned in context.wait(), after hitting Message.Controller the control is going to StartAsync function in my root dialog and as a result the whole dialog flow is restarting from the beginning rather than proceeding to the function mentioned in the callback

[2019-04-01 15:39] EricDahlvang commented on #127
Please share the code, so we can better assist you.

[2019-04-01 15:55] sagnikm95 commented on #127
Hi. Thanks for getting back. my bot was getting reinitialised (startAsync function was getting called) in between dialog flow. i was using in memory data store. Since it has a limit of 64kb i am assuming some sort of overflow was resulting in the bot state getting reinitialised. Any ways after changing the state storage type to blob table the issue has not come up. You can close this. If it occurs

[2019-04-01 15:55] #127 closed

[2019-04-03 09:03] qiu999 opened #128 "Incorrect conversation creation parameters"
when i user the /v3/conversations api to test 1:1 chat by using this json:
`{
    "topicName": "Topic Creation Test",
    "members": [
        {
            "id": "29:1NFWRrUtLwbhIIwTEu_wrlFu8aJC0XbyHu4xsav1EpLNqXpOtcUa3ceJ5aD0cSNCVoWKcTqqmJPoNGMYXYLH1VQ"
        }
    ],
    "bot": {
        "id": "f1bb17ff-10c9-464e-9b30-261c92a37868"
    },
    "channelData": {
        "tenant": {
            "

[2019-04-03 17:46] v-kydela commented on #128
@qiu999 - What channel are you using? Is it Microsoft Teams?

[2019-04-04 02:45] qiu999 commented on #128
@v-kydela yes, i am working on MS Teams integration, i want to create a group chat in customer's chat like this:
![image](https://user-images.githubusercontent.com/17703508/55526227-be6f7680-56c6-11e9-998b-9148a93478a4.png)

[2019-04-04 23:44] v-kydela commented on #128
There are two problems here that I can see. For one thing, you're trying to start a group conversation with only one person. For another thing, you're trying to start a group conversation with a bot. Bots cannot be added to group conversations in Teams. In order to chat with a bot in a group, you have to add the bot's app to a team and tag the bot in a team channel. Is that what you want to do?

[2019-04-08 05:28] qiu999 commented on #128
hi @v-kydela , thanks for your answer, do you mean i can create a channel ? When creating a teams channel means the whole teams members can receive the bot message.  I want to create a private group chat that cannot disturb other people who are  not in this private group,can you give some suggest for me ?

[2019-04-08 16:32] v-kydela commented on #128
I think you best option would be to create a new team, though that would require an admin. I will ask around and see if I can get any more information.

[2019-04-08 17:29] v-kydela commented on #128
@qiu999 - It turns out bots will be able to connect to private group chats soon, and the feature is already in developer preview.

[2019-04-08 18:12] v-kydela commented on #128
@qiu999 - The public developer preview can be accessed here: https://docs.microsoft.com/en-us/microsoftteams/platform/resources/dev-preview/developer-preview-features

Thank you for the question. If it's all right with you, I will close this issue now.

[2019-04-08 18:12] #128 closed

[2019-04-09 12:18] fgarofalo56 opened #130 "Not working in Azure Government"
V3 SDK does not work in Azure Government (MAG).  The bot authentication fails, as it looks like bit connector uses the commerical endpoints to handle bot authentication and there is not a way to override the endpoints, to point to Azure Government.

[2019-04-16 19:40] fgarofalo56 commented on #130
Any update on this?  I am referring to the auth between the bot and the bot connector.  With the SDK for V3 it points only to the commercial endpoints, and fails to auth the bot to the connector server.  Is there a way to make this work with OpenID that is refranced here:
https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-authentication?view=azure-bot-service-

[2019-04-16 23:09] EricDahlvang commented on #130
Hi @fgarofalo56

More information on Azure Bot Service in Azure Government can be found here: https://docs.microsoft.com/en-us/azure/azure-government/documentation-government-services-aiandcognitiveservices#azure-bot-service

I believe Bot Builder V3 SDK does support it. The authentication tenant can be supplied by adding a ChannelAuthTenant app setting.  Support for this was added with this commi

[2019-04-17 04:26] fgarofalo56 commented on #130
I am using v3 sdk: 3.20.1
Is there any documentation on how to point it to Gov endpoint?  Do we need to replace   [BotAuthentication] with somthing in MessagesController.cs?  Any help you can provide would be great.

[2019-04-17 09:11] Alexander-0x80 opened #132 "Bot is failing to communicate on Facebook Channel ( Bad Request )"
## Version
[code]

## Describe the bug
Bot was working fine for a lot of time ( on Facebook Channel ), no code changes where made.
From 15/04/2019 Bot stopped responding to Facebook messages with the following error:

[code]

Web Chat on Azure Portal works as expected.
Looking at 'Connected Channels' View on Azure Portal shows no issues at all !

<img width="572" alt="image" src="https://user-imag

[2019-04-17 19:51] EricDahlvang commented on #132
Hi @Alexander-0x80

Do you have Application Insights configured for the bot? You should be able to find more information about this error there.

Have you tried refreshing your facebook page token?

It looks like this is on the Facebook end:

[2019-04-18 20:33] pavigor opened #136 "I have an Error: Hostname/IP doesn't match certificate's altnames"
## Versions
What package version of the SDK are you using.
**botbuilder@3.16.0**
What nodejs version are you using
**v8.16.0**

## Describe the bug
Some time ago I started to get error when my bot receives the command from user:

## To Reproduce
The error may encounter from time to time

## Expected behavior
Not sure

[bug]

[2019-04-19 19:49] jspruance opened #133 "'404 - Not Found' error when v3 bot attempts to list conversation members in Team channel"
## Version
v3.15

## Describe the bug
The 'core-getConversationMembers' sample bot returns a '404 - Not Found' error when attempting call the Teams REST API in order to retrieve a list of conversation memebers.

Initial findings:

It looks like the 404 error is a result of an invalid request url due to percent encoding.

First the bot gets the ‘conversationId’ from the Teams channel, which is in t

[2019-04-21 06:26] Alexander-0x80 commented on #132
Hi @EricDahlvang

Yes, i have Application Insights configured, but i don't seem to find any error related information there.
Also i have tried multiple times to refresh my token.

This Error message you have attached, how did you find it ?
I am able to login/logout from Facebook without any issue, so this is really confusing.

[2019-04-22 16:38] jspruance commented on #133
Update: After further investigation, I found that rather than this error being related to url encoding it was in fact due to the base path of the service url being omitted.

I've fixed this by setting the base path before invoking the rest endpoint. Pull request for this change is here:
https://github.com/Microsoft/BotBuilder-Samples/pull/1426

[2019-04-23 05:55] EricDahlvang commented on #132
This error should be propagated back to your bot if you are logging exceptions.  It shows in our logs.

[2019-04-23 05:57] EricDahlvang commented on #130
The V3 sdk does not support Azure Gov.

We recommend new bots use the V4 sdk.  I haven't yet been able to find clear instructions on how to configure it.  I'll let you know.

[2019-04-23 14:31] Alexander-0x80 commented on #132
The exceptions are being logged in app insights, this is how it looks like:

<img width="1201" alt="image" src="https://user-images.githubusercontent.com/1289062/56588705-8c2da680-65ec-11e9-945e-59745de56215.png">

We do not see any error description there. Only status codes as i mentioned above.
I would really appreciate if you could guide me how to find it.

Also you mention that "in our logs" y

[2019-04-23 16:29] EricDahlvang commented on #132
No, that looks like a bug.  The Health column should be showing exceptions, and your application insights should show the Facebook API error as well.  I will investigate further, and get back to you.

[2019-04-23 19:10] cesarvarela opened #135 "Docs reference link is broken"
The reference link on this page
`https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-3.0`
![image](https://user-images.githubusercontent.com/1172479/56608988-6dc2ad80-65e2-11e9-814c-200d8199b73b.png)

instead of loading
`https://docs.botframework.com/en-us/node/builder/chat-reference/modules/_botbuilder_d_.html`

gets redirected to:
`https://docs.microsoft.com/en-us/azure/bo

[2019-04-23 19:52] EricDahlvang commented on #135
docs.botframework.com has been taken down and documentation moved to docs.microsoft.com.  The api browser will replace the former docs you've referenced: https://docs.microsoft.com/en-us/javascript/api/?view=botbuilder-ts-latest  The TypeScript v3 are not there yet, but the team is working on them.

[2019-04-24 22:18] jspruance commented on #133
Retested after fix merge and conversation members are now being listed as expected.

[2019-04-24 22:21] #133 closed

[2019-04-30 10:25] DrWala opened #137 "FormFlow loses context in all channels except emulator"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.16.1

## Describe the bug
Formflow typically works by asking the user a set of questions. In the emulator, formflow works as expected. In webchat, directli

[2019-05-01 17:26] EricDahlvang commented on #137
Have you tried debugging webchat or directline locally?  https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/

[2019-05-01 18:07] EricDahlvang commented on #135
This link has been fixed, and now points to https://aka.ms/bot-jssdk-v3

Thank you for reporting this.

[2019-05-01 18:07] #135 closed

[2019-05-02 15:28] DrWala commented on #137
I haven't done that yet but I'll give it a shot. Some further info based on my testing:

The formflow that's being called is the result of a proactive dialog being fired off after a time interval through hangfire. This previously was working fine until I pushed a completely unrelated change and it resulted in this specific feature failing.

I tested a formflow that's not fired through a proactive

[2019-05-02 22:24] EricDahlvang commented on #137
Can you share the code you're using to send the proactive message?

[2019-05-03 01:06] DrWala commented on #137
Here is the code I got off the documentation here: https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-proactive-messages?view=azure-bot-service-3.0

[code]

[2019-05-03 03:53] hucg18 opened #138 "Bot not answering in Skype for Business"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.15.0

## Describe the bug
Skype for Business bot is replying with an error message:
"Error happened in Skype for Business service when reaching bot service

[2019-05-03 05:52] bhushanvadgave opened #139 "DirectLine POST /activities API failing with 500 error"
## Issue
Our bot service logs Directline API failures. We are seeing a lot (not consistently though) of DirectLine POST /activities API giving 500 errors. When we checked the bot conversation from our web (directline) channel, we can see bot's responses are not reaching users.

## Component Impact
Bot service

## Customer Impact
These errors are occurring in our production bots. This is impacting

[2019-05-05 21:08] EricDahlvang commented on #138
Hi @hucg18

I'm sorry you've encountered this issue with the Skype for Business channel.  Have you tried debugging locally? [debug-channel-locally-using-ngrok](https://blog.botframework.com/2017/10/19/debug-channel-locally-using-ngrok/)

Application insights can also provide useful diagnostic information:
[Monitor your Node.js services and apps with Application Insights](https://docs.microsoft.com

[2019-05-06 00:12] hucg18 commented on #138
Hi Eric, thanks for your answer.

Indeed we checked the logs in Application Insights and found out what was causing the error:
The cause for this was **debugging the bot locally with ngrok**, if anyone sees this post I strongly recommend to not change the messaging point if they are using Skype for Business as a channel, as I saw in other issues, Skype for business tends to **fail when refreshing

[2019-05-06 00:12] #138 closed

[2019-05-06 05:14] bhushanvadgave commented on #139
API failures are not occurring anymore. Bot's responses are now reaching users. There is no issue.

[2019-05-06 17:52] anusharavindrar commented on #139
Closing the issue as bot's responses are reaching the users now.

[2019-05-06 17:52] #139 closed

[2019-05-06 22:26] EricDahlvang commented on #130
For v4, in C#, use `ConfigurationChannelProvider`. Pass it into the constructor of `BotFrameworkHttpAdapter`. It reads the `ChannelService `setting from appsettings. For JS, set the `channelService `property of `BotFrameworkAdapterSettings `when creating a `BotFrameworkAdapter`.

`ChannelService` app setting should be `https://botframework.azure.us`

Due to the limited lifetime of the Bot Builder

[2019-05-06 22:26] #130 closed

[2019-05-07 04:21] EricDahlvang commented on #137
What storage prover is this bot using for state?

[2019-05-07 04:23] EricDahlvang commented on #136
@pavigor is this still an issue for you?

[2019-05-07 07:31] DrWala commented on #137
I think at the moment it's using the in memory storage, which I should probably change...

[2019-05-12 04:35] rib-pet commented on #5
Hi @EricDahlvang , I met same issue. the source code works fine in Emulator, but it always returns "MethodNotallowed" in Azure.

my source code is quite easy: when I call luis dialog. it produces the exceptions
`public async Task<HttpResponseMessage> Post([FromBody]Activity activity)
		{
			if (activity.Type == ActivityTypes.Message)
			{
				DateTime start = DateTime.Now;
				if (!string.IsNullOr

[2019-05-12 08:07] tinuCoder opened #140 "Bot throwing error Value cannot be null. Parameter name: clientId"
## Bot throwing error Value cannot be null. Parameter name: clientId

I am using Bot framework v3.20 for my application
my Bot code sample is as below.

[code]
When the bot tries to send response to the user from line "await connectorTeams.Conversations.ReplyToActivityAsync(welcomeMessageTeams);"
it throws an exception
Bot throwing error Value cannot be null. Parameter name: clientId

Unable to un

[2019-05-13 16:09] EricDahlvang commented on #5
@rib-pet Please ensure your code is not using the default state service, it has been retired as explained in this blog post: https://blog.botframework.com/2017/12/19/bot-state-service-will-soon-retired-march-31st-2018/

[2019-05-13 21:45] EricDahlvang commented on #140
Hi @tinuCoder

The only time I've seen `Value cannot be null. Parameter name: clientId` is while communicating with a bot that does not have a MicrosoftAppId and MicrosoftAppPassword in the web.config  Are these values present in your Web.config file?

[2019-05-13 22:49] rib-pet commented on #5
yes, I am using InMemoryDataStore and storagetable already. I think that it is not source code issue. Because I have another bot which is working fine. It is very strange as the new bot is created when my azure account name is changed is always not working

My account name tony.peng@iuryvette.onmicrosoft.com was changed from tong.peng@iuryvette.onmicrosoft.com. I am pretty sure that the available

[2019-05-13 23:36] EricDahlvang commented on #5
@rib-pet  Please try logging into dev.botframework.com and adding the new user email address to the Owners field here: https://dev.botframework.com/bots/settings?id=YourBotHandle

You might need to open a ticket with Azure: https://ms.portal.azure.com/#blade/Microsoft_Azure_Support/HelpAndSupportBlade/overview

[2019-05-14 02:37] rib-pet commented on #5
Hi @EricDahlvang, it seems that the exception result from ngrok (http://127.0.0.1:4042/inspect/http) is changed into below
`{
    "message": "An error has occurred.",
    "exceptionMessage": "Unauthorized",
    "exceptionType": "Microsoft.Bot.Connector.MicrosoftAppCredentials+OAuthException",
    "stackTrace": "   at Microsoft.Bot.Connector.MicrosoftAppCredentials.<RefreshTokenAsync>d__34.MoveNext

[2019-05-14 05:45] pavigor commented on #136
Hi, there is no issue in last two weeks. Can't reproduce. I will try to rewrite my bot with new API.

[2019-05-14 08:43] tinuCoder commented on #140
Hi @EricDahlvang Yes I had correct MicrosoftAppId and MicrosoftAppPassword in the web.config files.

Seems i have found the solution for this. The AzureWebJobsStorage value was was somehow empty, in the configuration settings. I created a storage about and added the connection string in the configuration settings. Now its working fine.

![image](https://user-images.githubusercontent.com/25457761/5

[2019-05-14 17:01] #140 closed

[2019-05-14 18:31] EricDahlvang commented on #5
MethodNotAllowed with `Microsoft.Bot.Connector.BotState.<GetConversationDataWithHttpMessagesAsync>` in the stack trace is an indication the bot is using the default state service.

Please open a new issue, and share the code you are using to register the InMemoryDataStore.

[2019-05-14 19:44] #136 closed

[2019-05-15 01:02] rib-pet opened #141 "MethodNotAllowed with Microsoft.Bot.Connector.BotState.<GetConversationDataWithHttpMessagesAsync>"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
What package version of the SDK are you using.
3.20.1.42

## Describe the bug
Give a clear and concise description of what the bug is.
try to use emulator an

[2019-05-15 01:10] rib-pet commented on #141
@EricDahlvang , follow your request, I upload my source code.
![image](https://user-images.githubusercontent.com/37282473/57741787-f66bcf80-76f0-11e9-9c1c-0ec5a2f08eba.png)

![image](https://user-images.githubusercontent.com/37282473/57741821-13080780-76f1-11e9-87e8-9aa1ac23a104.png)

[2019-05-15 08:19] rib-pet commented on #141
Just comment out in constructor method of class MessageController.

`static MessagesController()
		{

			// Update the container to use the right MicorosftAppCredentials based on
			// Identity set by BotAuthentication
			//Conversation.UpdateContainer(builder =>
			//{
			//	builder.RegisterModule<GlobalMessageHandlersBotModule>();

			//	builder.Register(c => ((ClaimsIdentity)HttpContext.Current

[2019-05-15 08:19] #141 closed

[2019-05-15 14:07] EricDahlvang commented on #141
Yes, Conversation.UpdateContainer should only be called once. During app startup. If it is called again, it will overwrite the previous autofac registrations.

[2019-05-17 19:55] oneeman opened #142 "No error given for a 403 response"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.15.0

## Describe the bug
If you attempt to post a conversation to a team after the bot has been removed, the server gives a 403 error, bot the botbuilder

[2019-05-20 23:59] EricDahlvang commented on #137
@DrWala it looks like this line should be changed:
[code]
to this:
[code]

A ConversationReference does not deserialize to an Activity, but rather to a ConversationReference.

[2019-05-21 16:42] saraswat40 opened #143 "Microsoft Teams shows generic logo when Bot joins a call"
We have a bot which can join an online meeting in Microsoft Teams. The bot manifest has a logo URL. The Bot as defined in Microsoft Azure (Branding) also has a logo specified. However, when you chat with the bot the Microsoft Teams chat shows a generic logo ( <..> ). When the Bot joins a call, a different generic logo shows up. Is there any way to show the Bot's logo in these scenarios?

[2019-05-21 17:54] stevkan commented on #143
@saraswat40, I don't see logo as a manifest property when looking over the manifest [schema](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema). What you would want to use is the [icon](https://docs.microsoft.com/en-us/microsoftteams/platform/resources/schema/manifest-schema#icons) property to define which images are used in association with your bot.

[code

[2019-05-21 18:07] EricDahlvang commented on #142
Hi @oneeman

Please share the code you are using to

[2019-05-21 18:58] saraswat40 commented on #143
Hello,

Thanks for the response. The icons are defined correctly and they do show up in some places, but not when when the bot is in a call (only a big default alphabet in a circle shows up in the call window). The logoUrl is a property under the 'Manifest' section in the Azure > App Registrations > 'App' section.

Thanks

[2019-05-21 20:06] jspruance commented on #142
I was able to repo the issue. Created a pull request with proposed fix.

[2019-05-22 00:43] stevkan commented on #143
Teams uses a different manifest with its own schema for uploading a bot as an app and doesn't rely on the manifest located under App Registrations. Have you created the Teams manifest? If you haven't, look over this [doc](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/apps/apps-overview) as well as the links to 'Create the package for your Microsoft Teams app' and 'Bots'.

[2019-05-22 15:21] saraswat40 commented on #143
Yes, the teams manifest is correct and has the icons defined. They also show up correctly. Its only when the Bot is in a call, do we not see the icon. See screenshot.

![Screenshot from 2019-05-22 11-19-03](https://user-images.githubusercontent.com/3200933/58186896-c473e380-7c83-11e9-8e7e-d31c805ab6d8.png)

[2019-05-22 19:59] oneeman commented on #142
@EricDahlvang I can't share our code.  But I can say that we are using the authenticatedRequest method directly, because we needed to get back both the activity id and the thread id of the newly-created conversation (so that we can later proactively post replies to it), and the other methods, such as startConversation, give us back only the activity id, not the thread id.

However, the other metho

[2019-05-22 20:08] EricDahlvang commented on #142
@oneeman Thank you for the detailed description.  Considering that Jonathan was able to repro, and provided a fix, sharing the code is no longer needed.

Thank you for reporting this.

[2019-05-23 23:43] stevkan commented on #143
Quick question: when you say the bot joins the call, do you mean a voice call or the chat window of the voice call or something different?

[2019-05-24 00:31] saraswat40 commented on #143
I mean a voice call via the calls REST API ( /beta/app/calls ). T

[2019-05-24 16:25] EricDahlvang commented on #137
@DrWala  Closing this.  Please let us know if you are still working on it, and we can re-open the issue.

[2019-05-24 19:58] stevkan commented on #143
Per my SO posting, did you try clearing your cache?  Also, is the result the same across users? For instance, you mentioned the icon changes between calls. Is the icon the same or different between users on the same call?

[2019-05-24 23:18] EricDahlvang commented on #132
Hi @Alexander-0x80

I apologize for the late response.  An engineer is investigating why this error is not showing in the bot's health column.  I'll let you know when I get more information.

[2019-05-28 20:50] stevkan commented on #143
Are you still needing help with this issue?

[2019-05-28 20:57] stevkan commented on #143
Closing issue as resolved.

[2019-05-28 20:57] #143 closed

[2019-06-02 05:18] DrWala commented on #137
Hi @EricDahlvang ,

Sorry, been under the weather the past 2 weeks and haven't touched work. I'm trying to do this now but it seems its not a method that exists in the first place.

![Untitled-1](https://user-images.githubusercontent.com/6803997/58757111-8bb3f400-8538-11e9-98ff-2d57647aa594.png)

Am I using the wrong SDK or something?

Bot Builder is on 3.16
![image](https://user-images.githubuser

[2019-06-03 13:18] EricDahlvang commented on #137
Hi @DrWala

The ConversationReference should be deserialized to a ConversationReference, not to an Activity.

'''cs
var activity = JsonConvert.DeserializeObject<ConversationReference>(patient.BotUserData.ConversationReference).GetPostToBotMessage()

'''

[2019-06-03 23:03] EricDahlvang commented on #142
This will go out in the next release.

Closing, since the PR has been merged.

[2019-06-03 23:03] #142 closed

[2019-06-04 11:03] DrWala commented on #137
Hi @EricDahlvang

It seems to throw an exception - Object reference not set to instance of an object. However, previously treating it as an activity had no issues so I'm not sure what's going on.

I've attached the code for how I save the user's activity as well if this helps.

[code]

[2019-06-04 17:22] EricDahlvang commented on #137
Please try using `Activity.ToConversationReference()`

[code]

[2019-06-05 11:09] DrWala commented on #137
That's not a valid method apparently. However.... it seems I somehow got it working and I have no idea what I did. I think the only thing I changed was:

`private async Task MessageReceivedAsync(IDialogContext context, IAwaitable<IMessageActivity> result)`

whereas it previously was

`private async Task MessageReceivedAsync(IDialogContext context, IAwaitable<object> result)`

but I really don't th

[2019-06-12 10:49] rib-pet opened #149 "Autofac.Core.DependencyResolutionException throwing when to call Conversation.SendAsync method"
## Version
What package version of the SDK are you using.
3.20.1.42
## Describe the bug
Give a clear and concise description of what the bug is.
Just startup Bot source code. it gives me the exception "Autofac.Core.DependencyResolutionException"
## To Reproduce
Steps to reproduce the behavior:
Debug bot via Emulator

## Expected behavior
Give a clear and concise description of what you expected to

[2019-06-12 17:17] EricDahlvang commented on #149
Hi @rib-pet

Please share your packages.config, as well as autofac registration code (Global.asax.cs).  Or, can you share the entire project?

I am not able to reproduce this.

[2019-06-12 17:18] EricDahlvang commented on #137
Good to hear! :)

[2019-06-12 17:18] #137 closed

[2019-06-19 23:21] EricDahlvang commented on #132
@Alexander-0x80 please share the Bot Handle for this bot.  If you prefer, you can email it to me on the address on my profile.

[2019-06-20 17:18] EricDahlvang commented on #132
@Alexander-0x80

We are logging invalid token errors:

![image](https://user-images.githubusercontent.com/11055362/59867980-7e727400-9344-11e9-9693-b6a680fa8d87.png)

If you see a similar problem, where we are not logging Facebook Messenger connector errors in the health column, please open a new issue.

[2019-06-20 17:18] #132 closed

[2019-06-20 22:14] cleemullins commented on #123
Given the Skype Channel is no longer allowing new bots to be created, it seems the writing is one-the-wall for all things Skype+Bots. Teams is the replacement.

I would bias towards "just use the workaround".

[2019-06-20 22:14] #123 closed

[2019-07-03 20:00] EricDahlvang commented on #149
Closing due to no response.

[2019-07-03 20:00] #149 closed

[2019-07-16 10:06] v-madhal commented on #42
Hello,

I am also getting the same error message with directline

[2019-08-01 15:44] kashifkhan opened #156 "Sign In Card Does Not Render in Web Chat"
## Bot Info
* SDK Platform: .NET
* SDK Version: 3.15.2.2
* Active Channels: Web Chat
* Deployment Environment:  Azure Bot Service, Azure App Service, local development with Emulator

## Issue Description
When running the sample code for Oath login https://github.com/Microsoft/BotBuilder/tree/master/CSharp/Samples/AadV2Bot the bot is able to render a sign card in the emulator but not in web chat. R

[2019-08-01 17:18] EricDahlvang commented on #156
@mingweiw any idea on timeline for WebChat embed supporting oath cards (upgrade to webchat v4)?

The portal is now working as expected:
![image](https://user-images.githubusercontent.com/11055362/62313372-77f81180-b445-11e9-975a-17ab1bb706b7.png)

WebChat embed is not:
![image](https://user-images.githubusercontent.com/11055362/62313389-82b2a680-b445-11e9-9c58-7bbe4c729a12.png)

[2019-08-06 03:56] rcarubbi opened #157 "FormFlow is not filling the text property on confirm message which causes an error on Telegram Rendering (BadRequest - Message text is empty))"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
BotBuilder v3.20

## Describe the bug

The formflow confirm text is splitted and the last line is assigned to prompt text but it's always empty and telegram

[2019-08-06 04:37] rcarubbi commented on #157
I realize that you never can use {*} before {||} in a PromptAttribute inside the Confirm method.

If you use "{*} some text.... {||}" it works properly, that's why maybe this bug never was caught before

[2019-08-06 18:59] scheyal opened #158 "Deprecate V3 repositories"
Time to decide & implement V3 repos deprecation.
* [x] 1. Repo access
* [x]  2. Issues access
* [x] 3. PRs access
* [x] 4. Move source from https://github.com/microsoft/BotBuilder-Azure to https://github.com/microsoft/BotBuilder-V3
* [x] 5. Move source from https://github.com/microsoft/BotBuilder-CognitiveServices to https://github.com/microsoft/BotBuilder-V3
* [ ] 6. Add BotBuilder-Azure to build

[2019-08-06 21:26] v-kydela commented on #157
@rcarubbi - I'm sorry to say that very few v3 bugs are going to be fixed at this point, and I seriously doubt that this one will be made a priority. However, this might also be considered a bug in the connector service, and that might be fixed if I report it in the services repo. There is actually a NuGet package that allows you to use FormFlow in v4 if you're willing to migrate: https://www.nuget

[2019-08-09 20:37] v-kydela commented on #157
@rcarubbi - Are you still working on this?

[2019-08-09 23:01] rcarubbi commented on #157
Hi Kyle Thanks for your reply...

My project is not a simple bot it's a huge project of a visual bot editor
based on bot builder v3... The api instance hosts bots Metadatas stored in
jsons and route to the right bot according to the "botname" parameter in
the webapi route.

Furthermore it writes and compiles some formflow state classes in runtime
using csharpcompiler class based on the json Metada

[2019-08-09 23:11] v-kydela commented on #157
@rcarubbi - Are you still looking for help with this then?

The blog post I linked actually uses empty text as its example for a good use of custom prompters. Perhaps you could try a custom prompter.

[2019-08-13 20:06] v-kydela commented on #157
@rcarubbi - Do you have any questions about how to use FormFlow or can we close this issue?

[2019-08-13 20:21] rcarubbi commented on #157
Hi, feel free to close the issue.

But have in mind that the problem is still there.

Em ter, 13 de ago de 2019 17:06, Kyle Delaney <notifications@github.com>
escreveu:

[2019-08-13 22:14] v-kydela commented on #157
All right, I'm closing the issue. If you do have questions about how to get your bot working correctly, please post your questions on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

[2019-08-13 22:14] #157 closed

[2019-08-13 23:32] EricDahlvang commented on #79
A decision was made to not add this.  See above for a workaround.

[2019-08-13 23:32] #79 closed

[2019-08-13 23:41] EricDahlvang commented on #110
DirectLineClient will live here soon: https://github.com/microsoft/botframework-directline-dotnet

[2019-08-13 23:47] scheyal commented on #158
@cleemullins - per our meeting, please deprecate corresponding repos.

[2019-08-14 00:16] #116 closed

[2019-08-14 05:57] EricDahlvang commented on #110
Thanks @sgellock !

[2019-08-27 10:58] radennis opened #160 "Add parsing ISO 8601 in DateTime formats in Forms"
## This is not for asking questions or filing bugs

To get help with an issue with your bot
* ["How To"](https://stackoverflow.com/help/how-to-ask) questions should be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework).

To file an issue against a component please go to the components repo
* [Create Azure Bot Framework Service or Channel issue](https://github.co

[2019-08-27 16:28] Zhashkha opened #159 "Proactive request to URL Button URL value"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
3.16.0

## Describe the bug
Hi guys,

I'm just creating a hero card with URL Button. Facebook Messenger sends request to the button's URL automatically and i

[2019-08-27 19:46] Zhashkha commented on #159
I'm expecting that Facebook Messenger won't send request to URL Button's URL value by default. Thanks for reply.

[2019-08-29 15:03] EricDahlvang commented on #159
Hi @Zhashkha

Please share the code you for the card and button.  I am not aware of the behavior you've described. I would like to try repeating the issue.

[2019-08-30 07:17] Zhashkha commented on #159
Hi Eric

Thank you for your answer. It's just a simple URL button code. After you posting this card, Messenger goes to this URL automatically without any intention from your side.

//IMessageActivity replyToConversation

replyToConversation.Attachments = new List<Attachment>();
ThumbnailCard card = new ThumbnailCard();

// set buttons
string redirectionUrl = BotticelliApplicationConsts.HostBaseUrl

[2019-09-04 15:33] areckkimo opened #161 "[Azure Bot service] 503 Service Unavailable"
[question]

When FB messenger requests Webhook API, but FB messenger receives 503 service unavailable in the FB developer's console.

My chatbot builds on Azure Bot Function and develops with Bot framework V3 Nodejs

I don't change any code. The chatbot almost haven't got messages from MS Azure Bot service  since 2019/9/4

screenshot: [https://social.msdn.microsoft.com/Forums/getfile/1479455](url)

[2019-09-04 18:14] hcyang commented on #161
@hristp, this seems a service interruption issue, please update this ticket once you have more info (per you are the service DRI this week).

[2019-09-04 19:16] EricDahlvang commented on #159
Hi @Zhashkha

I've tried to reproduce the issue, and I'm not seeing activity at the url until clicking on the button.

[code]

Are you also attaching an image to the ThumbnailCard?  Images will be retrieved, but as far as I know the ActionTypes.OpenUrl path will not be hit until a user clicks on the button.

I do know that the Bot Framework will not call the url automatically, so however this is h

[2019-09-05 05:59] Zhashkha commented on #159
Hi Eric,

Thank you for your answer. Indeed it happens only with FB Messenger and I've opened an issue. If you want to reproduce this behavior, you have to use Messenger and it doesn't matter whether it is a mobile or desktop. Thanks !

[2019-09-11 02:22] EricDahlvang commented on #159
I'm sorry @Zhashkha but I've been unable to repeat this with the code shared above, using Messenger.  I do not receive a call @/webchat/chat until I click the button.    Please let me know if you have some other code I can use to reproduce the issue.  For now, I'm closing this as not reproducible.

[2019-09-11 02:22] #159 closed

[2019-09-13 19:59] Jeffders opened #163 ".NET and Node libraries should include channelID in token connector API calls"
Currently not all of the calls to the user token API include a channelID property. This property should be included in these calls.

[2019-09-19 14:45] EricDahlvang opened #164 "Update to the latest version of Azure Cosmos DB JavaScript SDK"
[bug]
[javascript]

[2019-10-21 21:08] EricDahlvang commented on #164
Support for the Bot Builder V3 is ending January 1st, 2020 ( https://blog.botframework.com/2019/06/07/v3-bot-broadcast-message/ ).  Since the CosmosDb end date is after this, there is no need to address this issue.

Note: CosmosDb will continue to function after August 30th 2020, as will Bot Builder V3 SDK.

[2019-10-21 21:08] #164 closed

[2019-10-24 07:58] bugb opened #166 "Link to BotBuilder example is not available anymore"
## Version Javascript v3

## Describe the bug
In the instruction file: https://github.com/Microsoft/BotBuilder-V3/tree/master/Node/examples#overview
[code]
should be:
[code]

## To Reproduce
Steps to reproduce the behavior:
1. Clone repo: `git clone https://github.com/Microsoft/BotBuilder.git`
2. `cd BotBuilder`
3. There is no `Node` folder inside it:
![image](https://user-images.githubusercontent

[2019-10-24 18:07] congysu commented on #166
@bugb can you please clone via this url: https://github.com/Microsoft/BotBuilder-V3.git  Thanks.

[2019-10-24 18:07] #166 closed

[2019-10-25 13:22] DevSharkOne opened #167 "POST to 'https://facebook.botframework.com/v3/conversations/9838851111469094-906008411166152/activities/lOdKu9yrLed5iyVk3vbBaQJ5mCJPyp12345678fd2Ta0xQ3R_I12345678pmlNxrQ' failed: [400] Bad Request"
### [Github issues](https://github.com/Microsoft/botbuilder-dotnet/issues) should be used for bugs and feature requests. Use [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework) for general "how-to" questions.

## Version
V3

## Describe the bug
We are working with bot framework and bot channel registration in azure  about 1 year ago and everything was fine, but yesterday some

[2019-10-25 18:08] congysu commented on #167
@v-kydela can you please repro this?  thanks.

[2019-10-25 18:14] DevSharkOne commented on #167
How do you need i show you what is happening? print screen or anything else?

[2019-10-25 18:24] v-kydela commented on #167
I can reproduce it. I'm investigating now.

[2019-10-25 19:11] v-kydela commented on #167
Using the REST API, I was able to receive the following JSON:

[code]

That led me to [this](https://developers.facebook.com/docs/messenger-platform/send-messages/quick-replies#locations):

I'm afraid the problem is on the Facebook side and not the Bot Framework side so there's nothing we can do about it here.

[2019-10-25 19:17] DevSharkOne commented on #167
We have one version of our chatbot that does not use botframework instead call the facebook apis directly, and that version is working yet, but when call through botframework does not works, for that reason we were thinking about the issue may be related to botframework V3.

[2019-10-25 19:19] v-kydela commented on #167
@DevSharkOne - Did you read the Facebook announcement I just linked you to?

[2019-10-25 19:22] DevSharkOne commented on #167
Yes, I did, so i understand that we need change the implementation and do not use the send location quick replay.
And, what about the list control?

[2019-10-25 19:27] DevSharkOne commented on #167
I found information about the list template:
https://developers.facebook.com/docs/messenger-platform/send-messages/template/list

[2019-10-25 19:29] v-kydela commented on #167
@DevSharkOne - Have a look at [this](https://developers.facebook.com/docs/messenger-platform/send-messages/template/list):

Perhaps the reason you noticed location quick replies working when you bypass the bot connector service is because you're using an older version of the API, which isn't scheduled to stop working until the 29th. Perhaps the connector service is using 4.0. At any rate, I'll clo

[2019-10-25 19:29] #167 closed

[2019-10-28 16:14] OksanaBerdnik commented on #136
I've received this error: Error: Hostname/IP doesn't match certificate's altnames: "Host: facebook.botframework.com. is not in the cert's altnames: DNS:*.azurewebsites.net, DNS:*.scm.azurewebsites.net, DNS:*.azure-mobile.net, DNS:*.scm.azure-mobile.net, DNS:*.sso.azurewebsites.net"
    at Object.checkServerIdentity (tls.js:223:17)
    at TLSSocket.<anonymous> (_tls_wrap.js:1111:29)
    at emitNone

[2019-10-28 17:23] OksanaBerdnik opened #168 "Hostname/IP does not match certificate's altnames"
## Version
"botbuilder": "^3.16.0",
"botbuilder-azure": "^3.1.0",

## Describe the bug
I've received this error:
[code]
Any suggestions would be greatly appreciated

## To Reproduce
Send any data throught a bot

## Expected behavior
Everything works smoothly

This is an unexpected error, everything used to work well till Thursday (24.10.19)

[bug]
[javascript]

[2019-10-29 16:29] mdrichardson commented on #168
@OksanaBerdnik How is your bot hosted? If it's in Azure, can you go to `Azure Portal > Your Resource Group > Your App Service > TLS/SSL Settings` and ensure that TLS 1.2 is enabled and everything else looks like this:

![image](https://user-images.githubusercontent.com/40401643/67787844-7cc16700-fa2e-11e9-84df-0e1621ae5582.png)

I haven't seen this error before, but it recently became required to

[2019-10-30 09:22] hex-344505 commented on #168
the case is that one request gives valid certificate and another - not correct
same curl request return
* SSL: no alternative certificate subject name matches target host name 'facebook.botframework.com'
and
* Server certificate:
*  subject: CN=*.botframework.com
*  start date: Jun 10 20:07:48 2019 GMT
*  expire date: Jun 10 20:07:48 2020 GMT
*  subjectAltName: host "facebook.botframework.com" mat

[2019-10-30 10:00] OksanaBerdnik commented on #168
Attachments to previous comment:

In case certificate is valid:
![download (2)](https://user-images.githubusercontent.com/15250529/67847218-1fe7ae80-fb0b-11e9-809f-5d0d9cf3401e.png)

In case the certificate is not matched (the same curl):
![download](https://user-images.githubusercontent.com/15250529/67847274-3f7ed700-fb0b-11e9-9efa-cfa2ac515de3.png)

Host:
![download (1)](https://user-images.gith

[2019-10-30 10:18] OksanaBerdnik commented on #168
@mdrichardson Attachments to previous comment:

In case certificate is valid:
![download (2)](https://user-images.githubusercontent.com/15250529/67847218-1fe7ae80-fb0b-11e9-809f-5d0d9cf3401e.png)

In case the certificate is not matched (the same curl):
![download](https://user-images.githubusercontent.com/15250529/67847274-3f7ed700-fb0b-11e9-9efa-cfa2ac515de3.png)

Host:
![download (1)](https://us

[2019-10-30 15:51] mdrichardson commented on #168
@hex-344505 @OksanaBerdnik Thank you for the additional info! Can you try **deleting** (not disable, but delete) and then re-add your Facebook channel from `Azure Portal > Your Resource Group > Your Web App Bot/Bot Channels Registration > Channels`?

[2019-10-30 16:33] OksanaBerdnik commented on #168
I've deleted the channel and re-added it. But it doesn't work for me

[2019-10-30 16:41] mdrichardson commented on #168
@OksanaBerdnik Alright. It was sort of a hail mary before I rope in some other folks to assist. I'm reaching out to see if one of our instances hosting facebook.botframework.com has an invalid cert. I will update this issue once I find the cause.

[2019-10-30 18:05] mdrichardson commented on #168
@hex-344505 @OksanaBerdnik

I tried that curl command ~100 times and all were successful. We're also seeing that all of the certs are valid on the ~10 instances running `facebook.botframework.com`.

Can you try running `nslookup facebook.botframework.com`?

The output should be something like:

[code]

Can you then run `curl -v <HOST>`, where <HOST> is the equivalent in your output to `bc-facebook

[2019-10-30 18:31] OksanaBerdnik commented on #168
[code]

[2019-10-30 19:12] mdrichardson commented on #168
This is becoming quite the head-scratcher. By any chance, can you visit `dev.botframework.com` and ensure that you trust the certificate there:

![image](https://user-images.githubusercontent.com/40401643/67890732-7aced500-fb0e-11e9-858b-176d204b9c39.png)

[2019-10-31 08:33] hex-344505 commented on #168
Counter 20
*  subjectAltName: host "facebook.botframework.com" matched cert's "*.botframework.com"
Thu, 31 Oct 2019 10:25:51 +0200
Counter 21
*  subjectAltName does not match facebook.botframework.com
* SSL: no alternative certificate subject name matches target host name 'facebook.botframework.com'
curl: (60) SSL: no alternative certificate subject name matches target host name 'facebook.botframe

[2019-10-31 09:14] OksanaBerdnik commented on #168
@mdrichardson The certificate is valid on dev.botframework.com.
Previously I've run curl from on AWS node or on the local machine but from Azure console, it works fine

[code]
When I try to visit Manage page to generate app password I receive 404, please see screenshot below (it`s related to all apps, not only new one):
![image](https://user-images.githubusercontent.com/15250529/67933772-2dff0300-

[2019-10-31 15:03] hex-344505 commented on #168
above script from AWS instance eu-west-3 zone - every 10th request give error
same script on EC2 in u-west-1 1000 requests - no errors
I have no idea what happens :(

[2019-10-31 16:22] mdrichardson commented on #168
@OksanaBerdnik @hex-344505 I was finally able to repro this by VPN-ing to Paris and running that script. I'll dig into this further.

@OksanaBerdnik Regarding that 404. Where is that bot hosted? I've seen that happen occasionally if your bot is hosted off of Azure. You *should* be able to access the app registration by going directly to the [App Registration page](https://portal.azure.com/#blade/M

[2019-10-31 18:20] OksanaBerdnik commented on #168
@mdrichardson All our bots are hosted on our servers, not in Azure App Service. Regarding that 404: App Registration page has helped me, thank you! But regarding your advice to host our bot on Azure portal: are there other ways to solve this issue?

[2019-10-31 18:25] mdrichardson commented on #168
@OksanaBerdnik Regarding hosting off-Azure:

I don't believe this affects the 404, as I'm able to repro through VPN on the same machine that works without VPN. We'll dig into what's going on and let you know as soon as we do.

The only issue we've talked about that you'll continue to have while hosting yourself is accessing the App Registration via the Web App Bot. I believe the Azure Bot Services

[2019-11-01 16:32] mdrichardson commented on #168
@OksanaBerdnik @hex-344505 Are you guys still able to repro this? I VPN'd to Paris again this morning and had the script run 4,000 times (not exaggerating). All of them were successful.

[2019-11-04 21:22] mdrichardson commented on #168
@OksanaBerdnik @hex-344505 Are you still able to repro this? I just tested from Paris and was successful for 200 of 200 requests.

If not, please [capture a System.NET trace](SSLValidation) and paste the contents of `networktrace.txt`.

[2019-11-07 16:05] mdrichardson commented on #168
@OksanaBerdnik @hex-344505 Were you able to re-test this? There's a couple of different teams looking into this and none of us can reproduce the error any more.

[2019-11-07 16:34] OksanaBerdnik commented on #168
@mdrichardson Today we've reproduced this bug on AWS instance located in Paris

[2019-11-07 17:20] mdrichardson commented on #168
@OksanaBerdnik Understood. I can't seem to repro this any more, but we'll continue looking into this.

[2019-11-07 17:33] hex-344505 commented on #168
you know, i think that i can prepare an instance for testing , if it will be suitable for you - let me know

by the way , we also repro this bug even from our local ISP.

[2019-11-07 17:34] mdrichardson commented on #168
@hex-344505 That would likely help, if you're able to. Feel free to send details to me via email, if you'd prefer: vDASHmicricATmicrosoftDOTcom (replace all-caps with appropriate character).

[2019-11-07 18:07] hex-344505 commented on #168
sent you an email, thanks in advance

[2019-11-07 18:31] mdrichardson commented on #168
@hex-344505 I was able to SSH in and verify this still occurs for you. Still looking into things. I believe it's something the Azure team will need to fix.

[2019-11-07 18:33] hex-344505 commented on #168
we have mail from azure team that they fix it but issue still exist :(

[2019-11-07 18:35] mdrichardson commented on #168
We’ve got a couple of separate issues still open and tracking this. I’m guessing that one got sent to you that it was fixed because they asked me to repro and I couldn't, then we didn't hear from you that it was still an issue. They're still open and being worked on, however.

I can give these other teams access, if you'd like.

[2019-11-07 18:44] hex-344505 commented on #168
it will be great.
and i updated support request.
Thanks

[2019-11-08 21:09] mdrichardson commented on #168
@OksanaBerdnik @hex-344505 Azure reps are reporting they fixed one of their front end webservers and the issue should be fixed. Are you able to reproduce it, now?

[2019-11-09 07:54] hex-344505 commented on #168
looks like they fix it. i cant reproduce error :)
Thanks ! your save our bot :)

[2019-11-11 16:11] mdrichardson commented on #168
Good to hear!

[2019-11-11 16:11] #168 closed

[2019-11-12 13:09] bhushanvadgave opened #169 "Question: Will bot services (written with NodeJS SDK v3.14, using DirectLine v3 APIs) stop working after Dec 31, 2019?"
We have bot services running in production and serving multiple customers. They are written with botbuilder NodeJS v3.14 and uses DirectLine v3 APIs.
We are hearing talks about Microsoft deprecating v3 bots after 31st Dec 2019.

Can you please clarify, after 31st Dec 2019
Will our already-running v3 bots stop working?
Will we be able to write new bots with v3 SDK, deploy and use them?

[2019-11-12 17:54] dmvtech commented on #169
Yes @bhushanvadgave , already v3 bots will continue to run. Yes, you will be able to write new bots using existing v3 packages/samples/templates and deploy. You won't be able to create v3 bots in the portal.

https://blog.botframework.com/2019/06/07/v3-bot-broadcast-message/

- Migration Documentation: https://aka.ms/v3v4-bot-migration
- End of lifetime support announcement: https://aka.ms/bfmigfa

[2019-11-12 18:00] bhushanvadgave commented on #169
Thank you so much @dmvtech

[2019-11-12 18:01] #169 closed

[2019-12-29 01:17] Stevebbu opened #176 "Error: Refresh access token failed with status code: 400"
My bot stop working and seeing the log I've found the following message:

[code]
The appId and password are OK.

## Version
3.16.0

[2019-12-29 07:32] EricDahlvang commented on #176
Hi @Stevebbu

Please share the bot handle or Microsoft App Id for the bot.

Also, please check the secrect of the app registration, to ensure it does not have an expiration date.

[2020-01-01 00:04] EricDahlvang commented on #176
Also, please try upgrading to the last v3 version: https://www.nuget.org/packages/Microsoft.Bot.Builder/3.20.1  There should be no breaking changes.

[2020-01-10 09:13] Trinitron commented on #109
This **Cannot post activity. Unauthorized**  might happen while bot debugging. One easy check need to be done before testing locally: Either remove your credentials (MicrosoftAppId / MicrosoftAppPassword) from **appsettings.json** file or provide them to Bot Emulator. Otherwise first message to your bot will throw this error.  See also [Troubleshooting Bot Framework](https://docs.microsoft.com/en-

[2020-01-13 19:04] scheyal commented on #176
The issue is resolved. Closing.

[2020-01-13 19:04] #176 closed

[2020-01-17 19:32] kagJacky opened #178 "MessageReceivedAsync will not get called sometimes"
## Screenshots

## Version

## Describe the bug

## Steps to reproduce

We follow the examples here:
https://docs.microsoft.com/en-us/azure/bot-service/dotnet/bot-builder-dotnet-dialogs?view=azure-bot-service-3.0

public async Task StartAsync(IDialogContext context)
    {
        context.Wait(MessageReceivedAsync);
    }

    public virtual async Task MessageReceivedAsync(IDialogContext context, I

[2020-01-19 18:32] tutul2010 opened #177 "problem when try to call an another Rest-api at Botframework-V3+C#.net"
Hi,
I stuck with a problem as..
When i was trying to call another Rest Api end point (rest-api done at dotnetcore 2.1) by Post-verb method at Botframework-V3+C#.net .
Problem is like as **debugger point(at Visual studio 2017 IDE) was not returning  to Botframework-V3 code after calling to api**.
The Rest-Api app (developed at dotnetcore 2.1) was done by our team and it is working file by Postman t

[2020-01-20 16:50] EricDahlvang commented on #177
Hi @tutul2010

Calling an api from the bot code should work the same in a bot as it would from any web application.  Have you tried creating a console app, or a separate program, that calls the api?

If you share the calling code here, I can take a look and see if anything stands out.

[2020-01-24 00:51] EricDahlvang commented on #178
Bot was upgraded to the latest V3, and problem has been resolved. :)  Closing.

[2020-01-24 00:51] #178 closed

[2020-01-24 00:53] EricDahlvang commented on #177
Closing since:
https://github.com/microsoft/BotFramework-Services/issues/172#issuecomment-576360336

![image](https://user-images.githubusercontent.com/11055362/73036606-e6b89500-3e00-11ea-9353-9825a1bb2f1d.png)

[2020-01-24 00:53] #177 closed

[2020-01-30 01:06] clearab opened #181 "Extend v3 SDK to support Skills (DotNet)"
See the [rollup issue](https://github.com/microsoft/botframework-sdk/issues/5589) for details.

[2020-01-30 01:06] clearab opened #182 "Extend v3 SDK to support Skills (JS)"
See the [rollup issue](https://github.com/microsoft/botframework-sdk/issues/5589) for details.

[2020-01-31 17:29] EricDahlvang commented on #163
closing, since https://github.com/microsoft/BotBuilder-V3/pull/165 has been merged

[2020-01-31 17:29] #163 closed

[2020-01-31 22:19] EricDahlvang opened #183 "Enable SignIn from a Skill"
## Describe the bug
[code]
This currently works from a bot directly, but not from a Skill.

## Screenshots
![image](https://user-images.githubusercontent.com/11055362/73578501-aa0a2080-4434-11ea-955f-231d9c19d008.png)

[bug]
[dotnet]

[2020-02-07 02:27] EricDahlvang commented on #181
Closing, since the preview bits are on MyGet:

https://botbuilder.myget.org/feed/botbuilder-v3-dotnet-daily/package/nuget/Microsoft.Bot.Builder/3.30.0

Three steps to convert a v3 dotnet bot to skill:
1)	Change MessageController’s BotAuthentication attribute to SkillBotAuthentication.
1)	Add AllowedCallers app setting to web.config (comma delimited list of skill host MicrosoftAppIds, or ‘*’ to all

[2020-02-07 02:27] #181 closed

[2020-02-14 22:49] #182 closed

[2020-03-11 09:35] tsvovan opened #200 "IDialog method execution finished with multiple resume handlers specified through IDialogStack. invalid need: expected Call, have Wait (Microsoft.Bot.Builder.Internals.Fibers.InvalidNeedExceptio)"
Sometimes RootDialog code returns an error from the topic.
[RootDialog.txt](https://github.com/microsoft/botframework-sdk/files/4317288/RootDialog.txt)
Please help me to resolve this issue.
Thank you.

[2020-03-12 21:48] v-kydela commented on #200
@tsvovan - Have you seen these issues? They might help you

- https://github.com/microsoft/botframework-sdk/issues/1477
- https://github.com/microsoft/botframework-sdk/issues/2111

I've had a good look through the source code and I don't see any way for `context.Wait` to throw a `NoResumeHandlerException`. It would make much more sense for it to throw a `MultipleResumeHandlerException` because it

[2020-03-13 00:33] tsvovan commented on #200
@EricDahlvang This bot has thousands of messages each day and only around 10 of them have such a problem. So I don't know the way how to recreate it. So I can't debug it.

@v-kydela You are right it throws a MultipleResumeHandlerException. Inner exception is InvalidNeedException.
`Microsoft.Bot.Builder.Dialogs.MultipleResumeHandlerException:
   at Microsoft.Bot.Builder.Dialogs.Internals.ExceptionT

[2020-03-13 01:13] EricDahlvang commented on #200
The inverse of the rule I mentioned above sounds like the problem.  If a .Prompt, .Forward or .Call occurs, then a context.Wait should NOT occur afterwards. (These methods setup an internal .Wait method)

[2020-03-13 01:34] v-kydela commented on #200
@tsvovan - Why did you say the message was "IDialog method execution finished with no resume handler specified through IDialogStack."?

[2020-03-13 06:30] tsvovan commented on #200
@v-kydela It is exactly what is in an app insights logs.
![image](https://user-images.githubusercontent.com/62054793/76595689-f1d89900-6504-11ea-9b51-5dd9e2f49cc8.png)

[2020-03-13 16:39] v-kydela commented on #200
@tsvovan - That screenshot says "multiple resume handlers" and not "no resume handler."

[2020-03-13 17:05] tsvovan commented on #200
@v-kydela and how can I fix it?

[2020-03-13 18:31] v-kydela commented on #200
@tsvovan - Why did you say the message was "IDialog method execution finished with no resume handler specified through IDialogStack."? Where did you get that message? Did you copy and paste from another post that you thought was about your issue? It will be very difficult to help you troubleshoot your issue if we're dealing with inaccurate information

[2020-03-13 19:29] tsvovan commented on #200
@v-kydela Sorry, my fault. I don't have such messages. Corrected. Sorry again.

[2020-03-15 07:52] tsvovan commented on #200
Also, I have one more problem Autofac not always resolves IRedisCacheManager. Do you know why it happens?

[2020-03-17 19:33] EricDahlvang commented on #200
Hi @tsvovan

I'm sorry you've run into these issues.  It seems the project you are working on is somewhat complex, and these issues require debugging to track down.  We cannot debug the project here, but only provide guidance and direction.  The initial error you've reported with this issue is in the bot, not the sdk.  The bot is either making a call to context.Wait after calling .Forward, .Call o

[2020-03-17 19:33] #200 closed

[2020-03-25 15:36] mdrichardson commented on #160
This is more feature than bug and V3 is deprecated. We recommend all V3 bots begin migrating to V4, which does not have this issue.

[2020-03-25 15:36] #160 closed

[2020-04-22 05:32] mayankvaish7 commented on #109
You need to provide Bot Emulator MicrosoftAppId and MicrosoftAppPassword available in Appsettings.json file.

[2020-04-26 17:20] Eli2590 opened #206 "Microsoft.Bot.Builder - "Object reference not set to an instance of an object""
## Version
3.30

## Describe the bug
After filling form user is asked for a question: "Did you get the information you were looking for?"
There are two options to this answer: 'Yes' or 'No'. Choosing 'Yes' should complete the form and choosing 'No' should continue the form. When writing in the chat different values then the two above, it recognizes that the value is not an option and asks to choos

[2020-04-30 10:03] Eli2590 commented on #206
1. Yes, I am using the latest V3 packages.
2. This is the FormDialog.cs:
using System;
using System.Threading.Tasks;
using KusBot.Common;
using KusBot.Forms;
using Kusto.Cloud.Platform.Utils;
using Microsoft.Bot.Builder.Dialogs;
using Microsoft.Bot.Builder.FormFlow;

namespace KusBot.Dialogs
{
    [Serializable]
    public class FormDialog : IDialog<string>
    {
        private readonly IDialog<R

[2020-04-30 20:57] mdrichardson commented on #206
@Eli2590 Looking at the error closer, it looks like it may actually be in your `ChangePermissionForm`. Can you link me to all of your code and provide steps to reproduce? At the very, very least, I'd need to see `ChangePermissionForm`.

[2020-05-05 16:20] mdrichardson commented on #206
Closing the issue as @Eli2590 will be focusing time on upgrading to v4 (discussed over Teams).

[2020-05-05 16:20] #206 closed

[2020-05-10 08:03] Eli2590 opened #207 "[Question, bug] Bot framework fails to save state to Doc DB in Teams 1:1 conversation (and errors dialogue)"
## Version
3.30.0.1

## Describe the bug
When user initiates a new 1:1 conversation in MS Teams, bot errors out. Does not happen consistently - some users work, some don't. I saw this error when we were using 3.15 version and according to the fix I updated it to 3.30. But the error appeared again.

## To Reproduce
Steps to reproduce the behavior:
Create bot with Teams channel enabled.
Onboard bot

[2020-05-11 16:37] mdrichardson commented on #207
@Eli2590 Can you provide Conversation IDs for when the error appears or appId and timestamps?

I think I mentioned before we're only doing security bug-fixes in V3, but I can look to make sure there isn't something going on on the service side.

[2020-05-12 07:46] Eli2590 commented on #207
@mdrichardson Here are the Conversation IDs
![image](https://user-images.githubusercontent.com/62258224/81653539-93189880-943d-11ea-9ef6-609bf9e7f14a.png)

stack trace:
Caught unhandled exception. CancellationRequest = False.: at PostAsync in C:\source\Src\Tools\KusBot\Common\CustomPostToUser.cs: line 43
***
Message: {"Errors":["The input name is invalid. Ensure to provide a unique non-empty strin

[2020-05-12 16:33] mdrichardson commented on #207
@Eli2590 Thank you. I'll start looking on the backend. Can you please copy/paste your `packages.config` as well as your `CustomPostToUser.cs`?

I see the error: `"Errors":["The input name is invalid. Ensure to provide a unique non-empty string less than '255' characters."]}`. Are you using a custom storage adapter? If so, please include that as well.

[2020-05-13 17:56] cleemullins commented on #207
Note: The v3.30 SDK doesn't really support DocDB or Teams.

[2020-05-13 21:09] EricDahlvang commented on #207
@cleemullins technically v3.30 does support DocumentDb/CosmosDb and Teams

I believe this was added specifically due to the older docdb key length restrictions, and Teams long conversation.ids:
https://github.com/microsoft/BotBuilder-V3/blob/master/Azure/CSharp/Library/Microsoft.Bot.Builder.Azure/DocumentDbBotDataStore.cs#L306

[code]

And this package has been around for a few years:
https://www.

[2020-05-14 09:34] Eli2590 commented on #207
@EricDahlvang Thanks a lot. I'll try to update the packages

[2020-05-20 15:09] mdrichardson commented on #207
@Eli2590 Any luck?

[2020-05-21 11:01] Eli2590 commented on #207
@mdrichardson Did not encounter with the issue again. Thanks

[2020-05-21 15:12] #207 closed

[2020-07-10 15:18] rrc2k4 opened #208 "Message card rendering issue in bot framework v3"
## The Microsoft Bot Framework team prefers that ["How To"](https://stackoverflow.com/help/how-to-ask) questions be submitted on [Stack Overflow](https://stackoverflow.com/questions/tagged/botframework). The official [Bot Framework GitHub](https://github.com/Microsoft/BotBuilder/issues) repository  is the preferred platform for submitting **bug fixes and feature requests**.

## Bot Info
* SDK Plat

[2020-07-14 08:27] rrc2k4 commented on #208
Appreciate if any update on this.

[2020-07-14 19:58] EricDahlvang commented on #208
Hi @rrc2k4

How are you loading and sending this card?

I removed the first level of json from what you've posted above:

[code]

And load/send the card with this code:

[code]

![image](https://user-images.githubusercontent.com/11055362/87470380-877a5700-c5d1-11ea-90a7-8cacf8e54b2e.png)

Using the following packages:

[code]

[2020-07-15 12:28] rrc2k4 commented on #208
Hi Eric,

Apologies for mislead on payload content.

I tried with the above code and mentioned packages but unable to see any button in the card,

 <package id="Microsoft.Bot.Builder" version="3.30.0" targetFramework="net46" />
  <package id="Microsoft.Bot.Builder.Azure" version="3.16.3.40383" targetFramework="net46" />
  <package id="Microsoft.Bot.Builder.History" version="3.30.0" targetFramework

[2020-07-15 18:45] EricDahlvang commented on #208
Which teams client are you using?

Can you share your teams manifest?

[2020-07-16 07:06] rrc2k4 commented on #208
Microsoft Teams Version 1.3.00.13565 (64-bit). It was last updated on 5/29/20.

Hope you are referring bot manifest file. We haven't published our bot yet on MSTeams.  We are still  in development phase.

[2020-07-17 01:52] EricDahlvang commented on #208
Is this a windows os?  Does this happen for all users of the bot?

Sorry, bothing stands out and i cannot repeat this issue. It must be something specific to your environment or bot. Can you share more of the code?

[2020-07-17 08:39] rrc2k4 commented on #208
Yes, everything is on Windows OS, clients and server/webservices. And it happens to all the users( we currently have 3 users in development). We checked the same functionality in MSTeams web & windows clients both doesn't display "button".

Suspecting environment issue, we even tried in our lab network where we dont have any company proxy policies but still same issue. Suspecting domain permission

[2020-07-28 12:10] rrc2k4 commented on #208
Hi Eric,

I had built a sample echo bot with mentioned packages and code but still dont see buttons in the card. Same JSON payload when triggered through MSTeams incoming webhooks works fine. able to see buttons in the card thru webhooks but not from bot messages.

EchoDialog.CS code:
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using Microsoft.Bot.Builder.

[2020-07-28 12:11] rrc2k4 commented on #208
Packages Info:
`<packages>
  <package id="AdaptiveCards" version="1.2.4" targetFramework="net46" />
  <package id="Autofac" version="3.5.2" targetFramework="net46" />
  <package id="Chronic.Signed" version="0.3.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net46" />

[2020-08-03 21:28] cleemullins commented on #208
Myself, Eric, Sid, and Tatiana looked at this. @tacri is going to try to duplicate.

[2020-08-10 22:21] tacri commented on #208
@rrc2k4 , we were finally able to repro this issue. It is a bug in the teams scope and doesn't repro in the 1:1. An easy way to unblock you would be to add in the potentialAction section an @id field like so:
        "potentialAction": [
          {
            **"@id":"1",**
            "@type": "OpenUri",

[2020-08-12 06:46] rrc2k4 commented on #208
@tacri ,

Sure, will add that id and get back to u. Just wanted to check y the same payload is working fine when sent through incoming web hooks, if it is a teams issue?

[2020-08-17 20:51] tacri commented on #208
@rrc2k4 , internally we treat slightly different the webhook and bot messages which leads to this behavior. Ideally we would make a fix, but since these type of cards are legacy and there is a work around we would prefer not to if you are unblocked.

[2020-08-17 21:26] clearab commented on #208
Hi! I'm going to go ahead and close this, please reopen if this issue is persisting.

[2020-08-17 21:26] #208 closed

[2020-12-22 20:13] EricDahlvang opened #216 "Port: "Enable multiple scopes for single serviceUrl host" to javascript v3 sdk"
https://github.com/microsoft/BotBuilder-V3/pull/215

[2020-12-22 22:23] EricDahlvang commented on #216
This is apparently not required in javascript v3, since the MicrosoftAppCredential is created on every incoming activity, and the cache is based on the entire serviceUrl, not just host:
https://github.com/microsoft/BotBuilder-V3/blob/main/Node/core/src/bots/ChatConnector.ts#L249

[2020-12-22 22:23] #216 closed

[2021-02-11 20:12] Enghouse-CCSP-PS opened #220 "c# bot stop to work on FB channel"
## Version
What package version of the SDK are you using.
3.12.2.4

## Describe the bug
suddenly all our FB bot stop to work on FB channel with error Microsoft.Rest.HttpOperationException Facebook API error
in app insight we see below log:
Microsoft.Bot.Schema.BotException:
   at Microsoft.Bot.ChannelConnector.BotAPI+<PostActivityToBotAsync>d__35.MoveNext (Microsoft.Bot.Base.ChannelConnector, Vers

[2021-05-12 21:26] #158 closed

[2021-05-12 21:27] EricDahlvang commented on #183
There has been no demand for this. Closing

[2021-05-12 21:27] #183 closed

[2021-05-26 08:54] vohuythao commented on #168
Hello guys,

Today we met exactly this problem.

I try to curl -v https://api.tryemanagecrm.com

And in 100 times, we got around 20 times with this error

Trying 51.143.102.21:443...
* Connected to api.tryemanagecrm.com (51.143.102.21) port 443 (#0)
* ALPN, offering h2
* ALPN, offering http/1.1
* successfully set certificate verify locations:
*   CAfile: C:/Program Files/Git/mingw64/ssl/certs/ca-b

[2021-05-26 15:10] mdrichardson commented on #168
@vohuythao I'm assuming `api.xxxx.com` is the domain for your App Service? If so, it would be best to open a ticket for this through Azure support, since this is more of a service issue and less of a code one.

[2021-05-27 01:51] vohuythao commented on #168
Hello @mdrichardson
Thank you for the reply
Yes, that is correct, it is our App Service.
I also open a ticket for Azure support.
I will update there if there is any solutions from Azure support

Thank you

[2021-06-01 11:54] ShubhaKV opened #233 "Can we send adaptive card to particular group instead of channel"
# 🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

Can we send adaptive  card to particular group in??

[2021-06-01 11:56] ShubhaKV opened #234 "How can get Activity after user submit action in adaptive card using java"
# 🚨 The issue tracker is not for questions 🚨

If you have a question, please ask it on https://stackoverflow.com/questions/tagged/botframework

How can get Activity after user submit action in adaptive card using java?

[2021-06-01 12:11] ShubhaKV commented on #128
Hi,

Currently can we send adaptive card to particular group in teams??

[2021-06-01 18:08] johnataylor commented on #234
please ask it on https://stackoverflow.com/questions/tagged/botframework

[2021-06-01 18:08] #234 closed

[2021-06-01 18:09] johnataylor commented on #233
please ask it on https://stackoverflow.com/questions/tagged/botframework

[2021-06-01 18:09] #233 closed

[2021-06-03 10:32] vohuythao commented on #168
Hello guys,

I have fixed this by replace another SSL certificates.

The one from GoDaddy, has some problem.
I replace with the one from Digicert and it is ok now

[2022-01-29 13:57] dhanutpk opened #243 "System.ArgumentNullException: Value cannot be null. (Parameter 'clientId') in bot V 3.30.0"
## Version
Bot Builder Version : 3.30.0

## Describe the bug
I have .net core 3.1 bot application , I am getting Value cannot be null. (Parameter 'clientId') in bot v3.30.0 version even I have configured Microsoft App Id and Password in appsettings.json

## To Reproduce
Steps to reproduce the behavior:
 using (var scope = DialogModule.BeginLifetimeScope(Conversation.Container, activity))

[2022-01-31 19:11] msomanathan commented on #243
@dhanutpk - BotBuilder V3 is not supported, please try with BotBuilder V4.

[2022-01-31 19:11] #243 closed

[2022-03-16 05:30] nagarjun-chodapaneedi opened #245 "Data breach observed when two concurrent send message requests are made to different tenants"
## Version
3.11.0

## Describe the bug
We have observed a sporadic issue with bot builder when trying to send O365ConnectorCards to two different tenants in Microsoft teams. We tried to send two different `O365ConnectorCard`s to two different sessions but observed that the content is mixed for one of the tenant.  Text of one message is replaced with other `O365ConnectorCard's` text although the ti

[2022-03-16 17:54] anishprasad01 commented on #245
Hi @nagarjun-chodapaneedi,

Something like this might first lead to an examination of state storage. Can you tell us more about how your bot is implemented? Perhaps something in how your bot is accessing and storing state might be causing this?

In your investigations, were you able to reproduce and/or identify which functionality might be at fault? Could you share some example code relating to th

[2022-03-17 05:23] nagarjun-chodapaneedi commented on #245
Hi @anishprasad01

We are unable to reproduce this issue. This is how we are sending a message.

Building the message using:
`bot = new builder.UniversalBot(this.chatConnector); // Instance created only once`

[code]

Message is sent using
[code]

Dialog is defined as
[code]

We can see the two messages were built in separate instances. we suspect that once we begin a dialog with `sendNotification

[2022-04-12 14:58] diya-biju commented on #245
@anishprasad01 The same issue has happened again when trying to send O365ConnectorCards to two different tenants in Microsoft teams.
<img width="567" alt="Screenshot 2022-04-12 at 8 24 18 PM" src="https://user-images.githubusercontent.com/45651712/162991983-4f2c50f6-c5a6-4f82-8a68-2fd3457e6210.png">

[2022-04-12 15:04] anishprasad01 commented on #245
Please provide a specific reproducible example so we can investigate.

[2022-04-13 05:11] diya-biju commented on #245
@anishprasad01 Not able to reproduce the issue as its sporadic.
The implementation is https://github.com/microsoft/BotBuilder-V3/issues/245#issuecomment-1070338799

[2022-04-13 16:56] anishprasad01 commented on #245
Do you have Application Insights or other logs available that may have captured useful information that might help identify the cause?

[2022-04-13 22:27] anishprasad01 commented on #245
@nagarjun-chodapaneedi, @diya-biju,

You could try creating the response message inside the callback. That should help isolate messages from each other.

Additionally, SDK V3 is officially deprecated, and thus official advice would be to upgrade to SDK V4 at your earliest convenience for the latest features and continued support.

[2022-04-13 22:27] #245 closed

[2022-05-18 22:05] microsoft-github-policy-service[bot] opened #255 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-19 18:08] #255 closed

[2022-06-07 22:18] jtleaming commented on #109
Are you able to use a different tenant if using Single Tenant? Every time I try connecting I get an Unauthorized error and I imagine it has to do with pointing to the wrong tenant url (https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token) when using the app.